# Requirements

In [1]:
import os
import json
import pandas as pd
import numpy as np
import json
import logging ### to monitor the code
from bs4 import BeautifulSoup
import xml.etree.cElementTree as ET
import pickle
import math
import random
import sys
import csv
import unicodedata
import requests
from urllib.request import urlopen 
import io
import getpass
import re
from collections import defaultdict
from itertools import islice # to iterate through dicts

import nltk
from nltk.collocations import *


### plotting
### to use latex (important for greek fonts)
#! apt-get install texlive-latex-recommended 
#! apt install texlive-latex-extra
#! apt install dvipng
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.oauth2 import service_account # based on google-auth library

import sddk

In [2]:
conf = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): 648597@au.dk
sciencedata.dk password: ········
connection with shared folder established with you as its owner
endpoint variable has been configured to: https://sciencedata.dk/files/SDAM_root/

In [3]:
# to access gsheet, you need Google Service Account key json file
# I have mine located in my personal space on sciencedata.dk, so I read it from there:

# (1) read the file and parse its content
file_data = conf[0].get("https://sciencedata.dk/files/ServiceAccountsKey.json").json()
# (2) transform the content into crendentials object
credentials = service_account.Credentials.from_service_account_info(file_data)
# (3) specify your usage of the credentials
scoped_credentials = credentials.with_scopes(['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])
# (4) use the constrained credentials for authentication of gspread package
gc = gspread.Client(auth=scoped_credentials)

AGT_overview = gc.open_by_url("https://docs.google.com/spreadsheets/d/1iVta_FuEDgUM_Lf_yByrdbbXNoVH_dnVZs6QRyYv1NM/edit?usp=sharing")

# AGT_metadata = gc.open_by_url("https://docs.google.com/spreadsheets/d/1hEUnL3E07F-EnE3wYnk1V91aXfPDrcnhFHKjD-04CM0/edit?usp=sharing")

# Extract date info from cltk github

In [4]:
request_text = requests.get("https://raw.githubusercontent.com/cltk/cltk/master/cltk/corpus/greek/tlg/author_date.py").text
request_text

"AUTHOR_DATE = {'A.D. 1': ['0031', '0041', '0280', '0283', '0347', '0526', '0587', '0619', '0628', '0643', '0648', '0654', '0656', '0716', '0825', '0888', '1004', '1152', '1155', '1201', '1247', '1271', '1301', '1701', '1703', '1828', '1890', '2424', '4335'], 'a. 1 B.C.': ['0359', '0687', '0750', '1534', '1627', '1678', '1720', '2552', '2652'], 'a. A.D. 11': ['2972', '4303'], 'a. 2 B.C.?': ['2215', '2525'], 'A.D. 9': ['0723', '0738', '3043', '3128', '3177', '4040', '4093', '4097', '4101', '4149'], 'A.D. 11': ['2702', '3027', '3064', '4098', '4235', '4330'], 'A.D. 1?/6': ['4150'], 'Incertum': ['0037', '0038', '0040', '0042', '0043', '0044', '0045', '0046', '0047', '0049', '0050', '0055', '0056', '0092', '0125', '0200', '0202', '0248', '0349', '0350', '0351', '0352', '0353', '0354', '0386', '0394', '0395', '0427', '0430', '0493', '0605', '0622', '0623', '0636', '0637', '0740', '0833', '0876', '0889', '1121', '1161', '1177', '1278', '1281', '1298', '1318', '1325', '1327', '1334', '1411', '1412', '1459', '1509', '1576', '1585', '1597', '1613', '1615', '1680', '1681', '1690', '1749', '1754', '1775', '1780', '1782', '1783', '1785', '1786', '1787', '1788', '1791', '1793', '1794', '1795', '1819', '1896', '1906', '2004', '2030', '2175', '2190', '2192', '2193', '2194', '2195', '2196', '2201', '2202', '2203', '2213', '2243', '2268', '2287', '2349', '2354', '2458', '2511', '2532', '2533', '2555', '2556', '2557', '2559', '2560', '2566', '2568', '2619', '2628', '2631', '2655', '2680', '2691', '2948', '2949', '4171', '4174', '4242', '4287', '4288', '4301', '4302', '4305', '4318', '4345', '4397', '5052', '9004', '9007'], 'A.D. 3-4': ['2023', '2962', '2966', '4319'], 'a. A.D. 5?': ['0290'], 'A.D. 1/2': ['0528', '0548', '0607', '0706', '1148', '1216', '1374', '1605', '1706'], 'A.D. 2/4?': ['1487'], 'A.D. 3?': ['0522', '0581', '0658', '2039', '2122', '2583', '2679'], '1 B.C.-A.D. 1?': ['1496', '2423', '2641'], '6 B.C.': ['0002', '0096', '0233', '0237', '0238', '0244', '0249', '0293', '0301', '0303', '0365', '0366', '0617', '0630', '1223', '1275', '1433', '1604', '1705', '1811', '2218', '2225', '2226', '2227', '2247', '2260', '2275', '2286', '4163'], '5/3 B.C.': ['0498'], '8 B.C.': ['0012', '1141'], '2 B.C./A.D. 3': ['1700', '2460'], 'Varia': ['0072', '0230', '0231', '0234', '0235', '0295', '0296', '0297', '0408', '0527', '0579', '0598', '0602', '0659', '0662', '0721', '0742', '1127', '1129', '1139', '1344', '1345', '1379', '1386', '1471', '1639', '1738', '1750', '1765', '1801', '1802', '1805', '1817', '1821', '2239', '2646', '2648', '2654', '2695', '2738', '2742', '3002', '4026', '4027', '4033', '4037', '4161', '4165', '4166', '4170', '4172', '4173', '4175', '4193', '4286', '4289', '4307', '5000', '5002', '5003', '5008', '5009', '5010', '5012', '5013', '5014', '5015', '5016', '5017', '5018', '5019', '5021', '5022', '5023', '5024', '5025', '5026', '5027', '5028', '5029', '5030', '5031', '5032', '5033', '5034', '5035', '5037', '5038', '5039', '5040', '5045', '5046', '5048', '7000', '7052'], 'p. 1 B.C.': ['0090', '1803', '1987'], '3-2 B.C.?': ['1180', '1649', '1663', '2204', '2205', '2333'], 'A.D. 10/15': ['3168'], 'a. 6 B.C.': ['0710'], 'A.D. 2/3': ['0300', '0384', '0640', '0641', '1310', '1368', '1570', '1666', '1702', '2140'], 'p. A.D. 10': ['4293'], '7/6 B.C.?': ['0364', '1241'], 'a. A.D. 4': ['0279', '1372', '2610'], 'a. A.D. 1/2': ['1482'], '3/2 B.C.': ['0022', '0208', '0345', '0454', '0509', '0608', '0707', '1135', '1218', '1226', '1230', '1340', '1490', '1556', '1571', '1835', '1967', '2587'], 'A.D. 6': ['0718', '0726', '0744', '2121', '2274', '2449', '2578', '2580', '2733', '2816', '2865', '2866', '2877', '2881', '3127', '3185', '3186', '3187', '4001', '4005', '4013', '4014', '4015', '4018', '4019', '4020', '4021', '4024', '4028', '4029', '4039', '4061', '4076', '4094', '4236', '4328', '4392', '4393'], 'a. A.D. 1': ['1156', '1428', '1836'], 'A.D. 8-9?': ['4331'], 'A.D. 3/4?': ['2531'], 'A.D. 1-7': ['1816'], 'A.D. 13-14': ['2592', '2718', '3142', '3155', '3159', '3188', '4030', '4145', '9023'], 'A.D. 2': ['0023', '0057', '0062', '0082', '0083', '0084', '0087', '0097', '0098', '0186', '0268', '0278', '0281', '0284', '0317', '0358', '0361', '0363', '0388', '0389', '0390', '0525', '0532', '0542', '0553', '0562', '0563', '0585', '0594', '0606', '0614', '0615', '0616', '0645', '0649', '0666', '0667', '0671', '0693', '0719', '0749', '1149', '1163', '1184', '1188', '1205', '1208', '1213', '1242', '1248', '1249', '1272', '1311', '1321', '1322', '1323', '1329', '1349', '1350', '1352', '1353', '1364', '1371', '1377', '1381', '1398', '1402', '1419', '1426', '1429', '1441', '1447', '1451', '1466', '1483', '1485', '1488', '1495', '1521', '1524', '1530', '1542', '1548', '1550', '1555', '1558', '1569', '1608', '1626', '1637', '1641', '1664', '1698', '1724', '1725', '1746', '1764', '1766', '1771', '1992', '2969', '2970'], 'A.D. 6-7': ['2892'], 'p. 3 B.C.': ['2396', '2482'], 'p. A.D. 2': ['0061', '0071', '0094', '0530', '1479', '1484', '1642', '2029', '2657'], 'A.D. 5/7': ['3178'], 'A.D. 5-6': ['2119', '2598', '2734', '2798', '2871', '4072', '4088', '4184'], '4/2 B.C.?': ['0601'], 'A.D. 15-16': ['3176', '9018'], '7/6 B.C.': ['0241', '0242', '0253', '0288', '0696', '1182', '1541', '1607'], 'a. A.D. 3?': ['1369'], 'A.D. 2-3': ['0008', '0015', '0024', '0385', '0391', '0544', '0545', '0555', '0592', '0638', '0732', '0733', '1131', '1171', '1600', '1665', '1670', '2042', '2956'], '2-1 B.C.?': ['0597', '2171', '2172', '2173'], 'p. 4 B.C.?': ['0054', '0217', '1361', '1413', '1435', '1753', '2475'], '2/1 B.C.': ['1220', '1302', '1463', '1464'], 'a. 3 B.C.': ['1945', '2339'], '7-6 B.C.': ['0009', '0263', '0292', '0383', '0387', '0629', '0631', '0725', '1274', '1667', '1815'], 'a. A.D. 15': ['3156'], '4-3 B.C.?': ['0399', '1179', '1324', '1338', '2289', '2336', '2345', '2346', '2621'], 'a. A.D. 14/15': ['4300'], 'A.D. 2?': ['0053', '0069', '0116', '0554', '0561', '0580', '0582', '0651', '1136', '1158', '1167', '1254', '1367', '1375', '1376', '1527', '1772', '2187', '2434'], '5/4 B.C.?': ['0441', '0453', '0462'], '3 B.C.': ['0001', '0052', '0131', '0137', '0198', '0201', '0204', '0210', '0215', '0218', '0219', '0221', '0339', '0340', '0342', '0422', '0425', '0444', '0460', '0464', '0473', '0482', '0488', '0495', '0500', '0519', '0550', '0552', '0568', '0570', '0584', '0604', '0650', '0690', '0703', '0856', '1138', '1162', '1176', '1178', '1192', '1193', '1224', '1250', '1264', '1292', '1297', '1305', '1314', '1360', '1362', '1365', '1392', '1421', '1430', '1432', '1436', '1450', '1475', '1477', '1507', '1514', '1525', '1526', '1533', '1549', '1566', '1577', '1588', '1603', '1606', '1609', '1629', '1632', '1638', '1654', '1661', '1662', '1691', '1693', '1696', '1699', '1711', '1715', '1799', '1915', '1953', '1969', '1970', '2160', '2162', '2168', '2169', '2185', '2331', '2542', '2543', '2608', '2613', '2615', '2620', '2693', '4396'], '2 B.C./A.D. 2': ['1157', '1643', '2186'], 'a. A.D. 10': ['4157', '4304'], 'A.D. 2?/4': ['1286'], '4/3 B.C.': ['0398', '0411', '0412', '0413', '0438', '0440', '0471', '0618', '1132', '1256', '1978', '2479'], 'A.D. 6-10': ['3075'], '4 B.C./A.D. 2': ['1332', '1425', '1676'], 'p. 7 B.C.': ['1212'], '4-3 B.C.': ['0005', '0029', '0089', '0093', '0197', '0207', '0211', '0212', '0213', '0216', '0220', '0336', '0341', '0402', '0407', '0416', '0447', '0487', '0506', '0507', '0533', '0537', '0541', '0574', '0583', '0624', '0635', '0653', '1172', '1181', '1222', '1244', '1251', '1269', '1270', '1287', '1288', '1303', '1307', '1339', '1390', '1439', '1442', '1470', '1489', '1544', '1574', '1682', '1733', '1735', '1911', '1912', '2219', '2265', '2300', '2334'], '5-4 B.C.': ['0010', '0017', '0019', '0027', '0032', '0048', '0059', '0251', '0257', '0262', '0323', '0375', '0376', '0379', '0380', '0403', '0414', '0415', '0419', '0420', '0423', '0429', '0470', '0483', '0494', '0497', '0499', '0513', '0540', '0591', '0593', '0627', '0845', '1125', '1304', '1427', '1591', '1634', '1683', '1800', '1848', '2242', '2291', '2313', '2645', '4390'], 'A.D. 9-10': ['2130', '3015', '3100', '4340'], '4/2 B.C.': ['0633', '1259', '1572'], 'A.D. 9/10': ['0729'], '4/1 B.C.': ['1752'], 'A.D. 8': ['3173'], 'a. 3 B.C.?': ['1713', '1723'], '4 B.C./A.D. 1': ['0676'], 'A.D. 13': ['3136', '3140', '3141', '3157', '4187', '4333', '9006'], 'A.D. 9?': ['5004'], 'A.D. 8/10': ['4291'], 'p. A.D. 6': ['0075', '4147', '4227'], '3 B.C.?/A.D. 1': ['0571'], 'A.D. 4/5?': ['2052'], 'A.D. 14': ['2945', '3169', '3170', '4294', '9008'], 'a. A.D. 12': ['9003'], 'a. A.D. 8': ['4332', '4339'], '2 B.C./A.D. 2?': ['2636'], '1 B.C.': ['0060', '0068', '0079', '0081', '0165', '0357', '0401', '0529', '0556', '0577', '0609', '0625', '0655', '0660', '0698', '0720', '0816', '1124', '1164', '1199', '1206', '1266', '1289', '1312', '1383', '1595', '1602', '1679', '1688', '1704', '1732', '1804', '1875', '1918', '1976', '1977', '1981', '2397', '2611', '4395'], 'a. A.D. 3': ['0273', '0275', '1154', '1326', '1382', '1505', '1552', '1559', '1648', '1859', '2118', '2217', '2273', '2367', '2398', '2617'], '2 B.C.': ['0035', '0036', '0063', '0067', '0203', '0209', '0343', '0344', '0436', '0516', '0549', '0603', '0611', '0621', '0717', '0897', '1146', '1166', '1173', '1186', '1207', '1211', '1219', '1240', '1245', '1293', '1294', '1320', '1393', '1407', '1431', '1499', '1594', '1645', '1687', '1748', '1779', '1881', '1954', '2364', '2383', '2392', '2399', '2545', '2625', '2650'], 'p. A.D. 1': ['0734', '1118'], '8-6 B.C.': ['0013'], '2/1 B.C.?': ['1197', '1227'], '2 B.C.?': ['0348', '0569', '0576', '1308', '1400', '1493', '1623', '1636', '1727', '2278', '2357', '2474', '2647', '2649'], '3/1 B.C.': ['1529'], '5 B.C.': ['0003', '0006', '0011', '0016', '0028', '0127', '0199', '0236', '0246', '0252', '0254', '0256', '0265', '0302', '0305', '0306', '0307', '0308', '0309', '0310', '0311', '0312', '0313', '0314', '0315', '0316', '0318', '0319', '0320', '0360', '0369', '0370', '0371', '0372', '0373', '0374', '0377', '0392', '0397', '0417', '0426', '0428', '0431', '0433', '0434', '0443', '0449', '0459', '0461', '0463', '0472', '0474', '0475', '0477', '0486', '0492', '0496', '0501', '0508', '0510', '0514', '0520', '0521', '0524', '0539', '0595', '0766', '0900', '0918', '1145', '1147', '1258', '1263', '1315', '1319', '1342', '1434', '1437', '1446', '1461', '1494', '1545', '1557', '1562', '1584', '1587', '1596', '1625', '1635', '1729', '1751', '1839', '1840', '1843', '1844', '1845', '1868', '1923', '2228', '2229', '2230', '2232', '2234', '2235', '2237', '2240', '2303', '2304', '2305', '2314', '2319', '2372', '2456', '2466', '2600', '2633', '2729', '4391'], '1 B.C./A.D. 1?': ['0613'], 'a. A.D. 2': ['0276', '0277', '1128', '1160', '1395', '1460', '1462', '1560', '1568', '1813', '1899', '2212', '2270', '2277', '2298', '2322', '2612', '2614', '2616', '2622', '2623', '2626', '2639', '2699', '4346'], '5/3 B.C.?': ['0294'], '3 B.C./A.D. 2': ['1252', '1695'], 'A.D. 8-9': ['2714', '3045', '3086', '4046', '4361', '9012'], '4/1 B.C.?': ['2409'], 'A.D. 14-15': ['4201'], '7 B.C.': ['0232', '0243', '0255', '0260', '0266', '0291', '0299'], 'A.D. 2/3?': ['1373', '1515'], 'A.D. 3': ['0004', '0282', '0572', '0652', '1366', '2000', '2002', '2027', '2034', '2038', '2054', '2063', '2115', '2117', '2133', '2141', '2178', '2189', '2248', '2577', '2903'], '6/5 B.C.': ['0264', '0367', '0368'], 'p. A.D. 7': ['2047'], 'A.D. 5/6?': ['2506', '2589', '2596', '4374'], 'a. A.D. 2/3': ['0269', '0271', '0272'], '1 B.C.?': ['0039', '0663', '1204', '1239', '1257', '1763', '1907', '2653', '2694'], '4 B.C.': ['0014', '0026', '0030', '0034', '0058', '0064', '0066', '0086', '0088', '0095', '0205', '0227', '0247', '0259', '0322', '0324', '0325', '0326', '0327', '0328', '0329', '0330', '0331', '0332', '0333', '0334', '0335', '0337', '0338', '0378', '0381', '0382', '0396', '0400', '0404', '0405', '0406', '0409', '0410', '0421', '0424', '0432', '0435', '0437', '0448', '0450', '0451', '0452', '0455', '0458', '0465', '0466', '0467', '0476', '0478', '0480', '0484', '0485', '0489', '0490', '0505', '0512', '0515', '0518', '0534', '0535', '0536', '0547', '0566', '0578', '0610', '0620', '0634', '0639', '0673', '0679', '0695', '0700', '0714', '0971', '0981', '1087', '1094', '1096', '1115', '1133', '1150', '1175', '1190', '1196', '1200', '1210', '1262', '1273', '1276', '1277', '1282', '1313', '1316', '1355', '1357', '1358', '1387', '1399', '1406', '1409', '1476', '1486', '1500', '1503', '1508', '1578', '1583', '1633', '1650', '1692', '1714', '1781', '1784', '1871', '1908', '2153', '2241', '2244', '2245', '2246', '2330', '2386', '2387', '2444', '2536', '2594', '2607', '2635', '2681', '2697', '2968', '4344'], 'p. A.D. 5': ['4102'], '4-2 B.C.': ['1203'], 'A.D. 7/8': ['4326', '4329'], 'A.D. 5/6': ['2914', '4066', '4082', '4085'], 'A.D. 12': ['3014', '3039', '3047', '3074', '4083', '4099', '4311', '9022'], 'a. 2 B.C.': ['1105', '1498', '1535', '2182', '2216', '2651'], 'p. A.D. 3': ['0077', '2007', '2009', '2016'], 'A.D. 1/2?': ['0708', '1389', '2181'], 'a. A.D. 5': ['1757', '2120'], 'A.D. 3/10': ['0752'], 'a. A.D. 14': ['4292'], 'A.D. 7-8': ['2934', '7051'], '8/6 B.C.': ['0683', '1296', '1351', '1444', '1445', '1547', '1712', '1737'], 'p. 4 B.C.': ['0456', '1580', '1726', '1814', '2418'], 'A.D. 4/6?': ['0745'], 'A.D. 4-5?': ['2328', '2971'], 'A.D. 1-2?': ['2255', '4086'], 'A.D. 1?': ['0559', '0560', '0748', '1153', '1268', '1414', '1728', '2426', '2428', '2632', '4334'], 'A.D. 2-3?': ['0141', '0531', '1759'], 'A.D. 6?': ['2461', '2860'], 'p. A.D. 9/10': ['0728', '0746'], 'A.D. 10': ['3023', '3040', '3051', '3069', '3070', '3115', '3125', '3158', '3181', '3182', '4080', '4153', '9010'], '1 B.C./A.D. 1': ['1747'], 'p. 1 B.C.?': ['1504'], '6-5 B.C.': ['0033', '0085', '0258', '0261', '0267', '0538', '0626', '0632', '0713', '1347', '1833'], 'A.D. 11-12': ['2703', '2721', '3018', '3063', '3079', '3088', '3135', '4031', '4034'], 'A.D. 4/5': ['4100'], '2 B.C.-A.D. 4': ['1551'], '3-2 B.C.': ['0222', '0543', '0586', '0644', '1405', '1599', '1646', '1651', '1685', '1756', '1812', '1917', '1972', '2284', '2294'], 'A.D. 3/5': ['0646', '4003'], 'A.D. 3/4': ['0647', '2019', '2586', '2601'], 'A.D. 7': ['0715', '0727', '0736', '2371', '2701', '3130', '4167', '4394', '9019', '9021'], '3/2 B.C.?': ['1306', '1734', '2393'], 'A.D. 4/6': ['2595'], '1 B.C.-A.D. 1': ['0018', '0099', '0146', '0346', '1189', '1194', '1285', '1337', '1452', '1611', '1838', '1949'], 'A.D. 6/13': ['3120'], '2-1 B.C.': ['0657', '0697', '1052', '1143', '1516', '1719', '2546'], '4?/2 B.C.': ['1832'], 'p. 5 B.C.': ['0479', '0523', '0751'], 'A.D. 5?': ['4084', '4327'], '3 B.C.?': ['0051', '0174', '0206', '0214', '0321', '0355', '0468', '0469', '0503', '0504', '0511', '0688', '1170', '1174', '1202', '1225', '1231', '1237', '1343', '1388', '1391', '1420', '1506', '1523', '1590', '1675', '1709', '1710', '1797', '2341', '2391', '2455', '2512', '2539', '2547', '2548', '2624', '2630'], '8/7 B.C.?': ['0020'], 'A.D. 1-2': ['0007', '0074', '0546', '0551', '0557', '0564', '0565', '0612', '0661', '1016', '1165', '1168', '1408', '1416', '1443', '1617', '1622', '1760', '1867'], 'a. 4 B.C.?': ['1511', '2282'], 'A.D. 5/10': ['4290'], 'A.D. 12-13': ['3020', '3094'], 'a. 5 B.C.': ['0250'], 'A.D. 15': ['3139', '3143', '3144', '3145', '3146', '3147', '4237', '9009'], 'A.D. 6/7': ['0724'], '5 B.C.?': ['0418', '1134', '1438', '1512', '1849', '2306', '2355', '2638'], 'p. A.D. 4': ['2008', '2010', '2011', '2012', '2014', '2015', '2233'], '5-4 B.C.?': ['0686', '1291', '2326'], '4/3 B.C.?': ['0442', '0517', '1736', '2412', '2417', '2565', '2609'], '5/4 B.C.': ['0065', '0239', '0439', '0445', '1309', '1567', '1846', '2231'], 'a. A.D. 1?': ['2605'], '8/6 B.C.?': ['1546'], '3 B.C./A.D. 1': ['1083', '1183'], 'A.D. 12?': ['4032', '9020'], '4 B.C.?': ['0240', '0446', '0457', '0481', '0491', '0502', '0558', '1123', '1191', '1228', '1229', '1232', '1328', '1341', '1354', '1397', '1469', '1491', '1553', '1941', '2307', '2340', '2384', '2385', '2618', '2644', '4347'], '1 B.C./A.D. 4?': ['1858'], 'A.D. 4?': ['0286', '0691', '0737', '1346', '2005', '2025', '2116', '2404', '2585', '2602', '4337'], 'a. 4 B.C.': ['0228', '2445', '2634', '2642', '2696'], 'A.D. 7/9': ['0730'], 'A.D. 4': ['0722', '0743', '2001', '2003', '2017', '2018', '2021', '2022', '2031', '2032', '2033', '2035', '2036', '2040', '2041', '2043', '2046', '2049', '2051', '2053', '2055', '2059', '2061', '2064', '2074', '2084', '2102', '2109', '2110', '2112', '2151', '2157', '2158', '2200', '2236', '2499', '2573', '2604', '2627', '2640', '2894', '2950', '2960', '4091', '4096', '4105', '4110', '4115', '4117', '4124', '4126', '4134', '4138', '4139', '4239', '4282', '4324'], '6 B.C.?': ['0245', '0668', '1021', '1260'], '8/7 B.C.': ['0298'], 'A.D. 4-5': ['0731', '2006', '2020', '2050', '2057', '2058', '2060', '2062', '2111', '2127', '2967', '4089', '4090', '4135', '4238'], 'A.D. 2/4': ['0304'], 'p. 2 B.C.': ['1792'], 'p. 4 B.C./a. A.D. 2': ['2148'], 'A.D. 7?': ['4338'], 'A.D. 5-6?': ['2724'], 'A.D. 5': ['0289', '2037', '2045', '2048', '2317', '2571', '2591', '2744', '2762', '2766', '2770', '2797', '2800', '2806', '2807', '2904', '2937', '2946', '2995', '4000', '4016', '4017', '4036', '4038', '4075', '4081'], 'a. 1 B.C.?': ['2210', '2606'], 'A.D. 1/3': ['4323', '4325']}"

In [5]:
### execute the string
exec(request_text)

In [6]:
### use the variable from the executed string
tlg_authordate = AUTHOR_DATE

In [7]:
### write it out for future usage
#sddk.write_file("SDAM_data/OGL/tlg_authordate.json", tlg_authordate, conf)

In [8]:
### OR YOU CAN START HERE WITH PREPROCESSED DATA:

tlg_authordate = sddk.read_file("SDAM_data/AGT/tlg_authordate.json", "dict", conf)
tlg_authordate.keys()

dict_keys(['A.D. 1', 'a. 1 B.C.', 'a. A.D. 11', 'a. 2 B.C.?', 'A.D. 9', 'A.D. 11', 'A.D. 1?/6', 'Incertum', 'A.D. 3-4', 'a. A.D. 5?', 'A.D. 1/2', 'A.D. 2/4?', 'A.D. 3?', '1 B.C.-A.D. 1?', '6 B.C.', '5/3 B.C.', '8 B.C.', '2 B.C./A.D. 3', 'Varia', 'p. 1 B.C.', '3-2 B.C.?', 'A.D. 10/15', 'a. 6 B.C.', 'A.D. 2/3', 'p. A.D. 10', '7/6 B.C.?', 'a. A.D. 4', 'a. A.D. 1/2', '3/2 B.C.', 'A.D. 6', 'a. A.D. 1', 'A.D. 8-9?', 'A.D. 3/4?', 'A.D. 1-7', 'A.D. 13-14', 'A.D. 2', 'A.D. 6-7', 'p. 3 B.C.', 'p. A.D. 2', 'A.D. 5/7', 'A.D. 5-6', '4/2 B.C.?', 'A.D. 15-16', '7/6 B.C.', 'a. A.D. 3?', 'A.D. 2-3', '2-1 B.C.?', 'p. 4 B.C.?', '2/1 B.C.', 'a. 3 B.C.', '7-6 B.C.', 'a. A.D. 15', '4-3 B.C.?', 'a. A.D. 14/15', 'A.D. 2?', '5/4 B.C.?', '3 B.C.', '2 B.C./A.D. 2', 'a. A.D. 10', 'A.D. 2?/4', '4/3 B.C.', 'A.D. 6-10', '4 B.C./A.D. 2', 'p. 7 B.C.', '4-3 B.C.', '5-4 B.C.', 'A.D. 9-10', '4/2 B.C.', 'A.D. 9/10', '4/1 B.C.', 'A.D. 8', 'a. 3 B.C.?', '4 B.C./A.D. 1', 'A.D. 13', 'A.D. 9?', 'A.D. 8/10', 'p. A.D. 6', '3 B.C.?/A.D. 1', 'A.D. 4/5?', 'A.D. 14', 'a. A.D. 12', 'a. A.D. 8', '2 B.C./A.D. 2?', '1 B.C.', 'a. A.D. 3', '2 B.C.', 'p. A.D. 1', '8-6 B.C.', '2/1 B.C.?', '2 B.C.?', '3/1 B.C.', '5 B.C.', '1 B.C./A.D. 1?', 'a. A.D. 2', '5/3 B.C.?', '3 B.C./A.D. 2', 'A.D. 8-9', '4/1 B.C.?', 'A.D. 14-15', '7 B.C.', 'A.D. 2/3?', 'A.D. 3', '6/5 B.C.', 'p. A.D. 7', 'A.D. 5/6?', 'a. A.D. 2/3', '1 B.C.?', '4 B.C.', 'p. A.D. 5', '4-2 B.C.', 'A.D. 7/8', 'A.D. 5/6', 'A.D. 12', 'a. 2 B.C.', 'p. A.D. 3', 'A.D. 1/2?', 'a. A.D. 5', 'A.D. 3/10', 'a. A.D. 14', 'A.D. 7-8', '8/6 B.C.', 'p. 4 B.C.', 'A.D. 4/6?', 'A.D. 4-5?', 'A.D. 1-2?', 'A.D. 1?', 'A.D. 2-3?', 'A.D. 6?', 'p. A.D. 9/10', 'A.D. 10', '1 B.C./A.D. 1', 'p. 1 B.C.?', '6-5 B.C.', 'A.D. 11-12', 'A.D. 4/5', '2 B.C.-A.D. 4', '3-2 B.C.', 'A.D. 3/5', 'A.D. 3/4', 'A.D. 7', '3/2 B.C.?', 'A.D. 4/6', '1 B.C.-A.D. 1', 'A.D. 6/13', '2-1 B.C.', '4?/2 B.C.', 'p. 5 B.C.', 'A.D. 5?', '3 B.C.?', '8/7 B.C.?', 'A.D. 1-2', 'a. 4 B.C.?', 'A.D. 5/10', 'A.D. 12-13', 'a. 5 B.C.', 'A.D. 15', 'A.D. 6/7', '5 B.C.?', 'p. A.D. 4', '5-4 B.C.?', '4/3 B.C.?', '5/4 B.C.', 'a. A.D. 1?', '8/6 B.C.?', '3 B.C./A.D. 1', 'A.D. 12?', '4 B.C.?', '1 B.C./A.D. 4?', 'A.D. 4?', 'a. 4 B.C.', 'A.D. 7/9', 'A.D. 4', '6 B.C.?', '8/7 B.C.', 'A.D. 4-5', 'A.D. 2/4', 'p. 2 B.C.', 'p. 4 B.C./a. A.D. 2', 'A.D. 7?', 'A.D. 5-6?', 'A.D. 5', 'a. 1 B.C.?', 'A.D. 1/3'])

In [9]:
### testing regex
"-" + re.match(r"\d+ B.C.", "1 B.C., A.D. 1")[0].partition(" ")[0]

'-1'

In [10]:
### testing regex
string = "> 2 B.C."
[match[0].replace(" ", "") + "-" + match[1] for match in re.findall(r'(> ?)?(\d+)', string)]

['>-2']

In [11]:
### our centuries of interest are these:
centuries = [el/10 for el in range(-75, 165, 10)]
print(centuries)

[-7.5, -6.5, -5.5, -4.5, -3.5, -2.5, -1.5, -0.5, 0.5, 1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 10.5, 11.5, 12.5, 13.5, 14.5, 15.5]

In [12]:
total = 0
for el in range(len(centuries)):
  total += 2**(el+1)

# Cleaning dates

## Define probabilities

In [13]:
date_string = [-2.5, -3.5, -4.5, -5.5, -6.5, -7.5]
weighted_dates = {}
total = 0
for el in range(len(date_string)):
  total += 2** (el+1)
total += 2
for date, el in zip(reversed(date_string), range(len(date_string))):
  base = 2**(el+1)
  print(base, total)
  weighted_dates[date] = base / total

2 128
4 128
8 128
16 128
32 128
64 128

In [14]:
# increasing probability for "after 3rd c. BC"
weighted_dates

{-7.5: 0.015625,
 -6.5: 0.03125,
 -5.5: 0.0625,
 -4.5: 0.125,
 -3.5: 0.25,
 -2.5: 0.5}

## MAIN CLEANING REGEX

In [15]:
### MAIN CLEANING REGEX
dates_cleaned = {}
dates_pairs = {}
for raw_date_string in tlg_authordate.keys():  
  if "/" in raw_date_string:
    date_type = "or"
  elif "-" in raw_date_string:
    date_type = "range"
  elif "p." in raw_date_string:
    date_type = "post"
  elif "a." in raw_date_string:
    date_type = "ante"
  else:
    date_type = ""
  if "?" in raw_date_string:
    certainty = "?"
  else:
    certainty = ""
  date_string = raw_date_string.replace("?", "") ### exclude uncertainty for the moment
  date_string = date_string.replace("/", ", ")
  date_string = date_string.replace("-", ", ")
  if not (("B.C." not in date_string) or ("A.D." not in date_string)): ### in the case there is both "A.D." and "B.C."
    date_string = date_string.replace("A.D.", "")
    try:
      date_string = "-" + re.match(r".*\d+ B.C.", date_string)[0].partition(" ")[0] + date_string.partition("B.C.")[2]
    except:
      pass
    date_string = date_string.replace("a. ", "<") # ante quem
    date_string = date_string.replace("p. ", ">") # post quem
    date_string.split(",")
  else:
    date_string = date_string.replace("A.D.", "")
    if "B.C." in date_string:
      if "p. " in date_string:
        date_string = [">-" + match for match in re.findall(r"\d+", date_string)]
      elif "a. " in date_string:
        date_string = ["<-" + match for match in re.findall(r"\d+", date_string)]
      else:
        date_string = ["-" + match for match in re.findall(r"\d+", date_string)]
    try: 
      date_string = date_string.replace("a. ", "<").replace("p. ", ">") # ante quem # post quem
    except: 
      pass
  try:
    date_string = date_string.split(",")
  except:
    pass
  date_string = [date.replace(" ", "") for date in date_string]
  date_string_ranges = []
  for date in date_string:
    if "<" in date:
      try:
        actual_list = reversed([value for value in list(range(-8, int(date.replace("<", "")))) if value != 0])
        date_string_ranges.extend(actual_list)
      except: 
        date_string_ranges.append(date)
    elif ">" in date:
      try:
        date_string_ranges.extend([value for value in list(range(int(date.replace(">", "")) + 1, 16)) if value != 0])
      except: 
        date_string_ranges.append(date)
    else:
      date_string_ranges.append(date)
  date_string = date_string_ranges
  try:
    date_string = [int(date) for date in date_string]
  except: 
    pass
  if date_type == "range":
    try:
      date_string = [num for num in range(date_string[0], date_string[1] + 1) if num != 0]
    except:
      pass
  cents = []
  for num in date_string:
    try:
      if float(num) < 0:
        cents.append(float(num) + 0.5)
      else:
        cents.append(float(num) - 0.5)
    except:
      cents.append(None)
  ### add a dictionary of weighted dates
  weighted_dates = {}
  try:
    if (date_type == "range") or (date_type == "or"): ### if it is a "range" or "or"
      for el in cents:
        weighted_dates[el] = np.round(1 / len(cents), 4)
    elif (date_type == "post") or (date_type == "ante"):
      total = 0
      for el in range(len(cents)):
        total += 2** (el+1)
      total += 2
      for date, el in zip(reversed(cents), range(len(cents))):
        base = 2**(el+1)
        weighted_dates[date] = np.round(base / total, 4)
    else:
      weighted_dates[cents[0]] = 1
  except:
    weighted_dates = {}
  try:
    date_avr = np.mean(cents[:2])
  except:
    date_avr = None
  dates_cleaned.update({raw_date_string : [cents, weighted_dates, date_avr, date_type, certainty]})
  dates_pairs[raw_date_string] = weighted_dates
list(islice(dates_cleaned.items(), 3))

[('A.D. 1', [[0.5], {0.5: 1}, 0.5, '', '']),
 ('a. 1 B.C.',
  [[-1.5, -2.5, -3.5, -4.5, -5.5, -6.5, -7.5],
   {-7.5: 0.0078,
    -6.5: 0.0156,
    -5.5: 0.0312,
    -4.5: 0.0625,
    -3.5: 0.125,
    -2.5: 0.25,
    -1.5: 0.5},
   -2.0,
   'ante',
   '']),
 ('a. A.D. 11',
  [[9.5,
    8.5,
    7.5,
    6.5,
    5.5,
    4.5,
    3.5,
    2.5,
    1.5,
    0.5,
    -0.5,
    -1.5,
    -2.5,
    -3.5,
    -4.5,
    -5.5,
    -6.5,
    -7.5],
   {-7.5: 0.0,
    -6.5: 0.0,
    -5.5: 0.0,
    -4.5: 0.0,
    -3.5: 0.0001,
    -2.5: 0.0001,
    -1.5: 0.0002,
    -0.5: 0.0005,
    0.5: 0.001,
    1.5: 0.002,
    2.5: 0.0039,
    3.5: 0.0078,
    4.5: 0.0156,
    5.5: 0.0312,
    6.5: 0.0625,
    7.5: 0.125,
    8.5: 0.25,
    9.5: 0.5},
   9.0,
   'ante',
   ''])]

In [16]:
cents = [0.5]
np.mean(cents[:2])

0.5

In [17]:
### manual cleaning:
dates_cleaned['p. 4 B.C./a. A.D. 2'] = [[-2.5, -1.5, -0.5, 0.5], {-2.5 : 0.25, -1.5: 0.25, -0.5: 0.25, 0.5: 0.25}, -1, "range", 'p. 4 B.C./a. A.D. 2']
dates_cleaned['Incertum'] = [[], {}, None, "", "Incertum"]
dates_cleaned['Varia'] = [[], {}, None, "", "Varia"]

### manual cleaning:
dates_pairs['p. 4 B.C./a. A.D. 2'] = {-2.5 : 0.25, -1.5: 0.25, -0.5: 0.25, 0.5: 0.25}
dates_pairs['Incertum'] = {}
dates_pairs['Varia'] = {}

In [18]:
dates_pairs_df = pd.DataFrame(dates_pairs).T
dates_pairs_df.fillna(0, inplace=True)
dates_pairs_df
dates_pairs_df.sort_index(axis=1, inplace=True)
dates_pairs_df.reset_index(inplace=True)
dates_pairs_df.rename({"index" : "raw_date"}, axis=1, inplace=True)
dates_pairs_df.head(5)

,raw_date,-7.5,-6.5,-5.5,-4.5,-3.5,-2.5,-1.5,-0.5,0.5,...,6.5,7.5,8.5,9.5,10.5,11.5,12.5,13.5,14.5,15.5
0,A.D. 1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000,...,0.0000,0.000,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,a. 1 B.C.,0.0078,0.0156,0.0312,0.0625,0.1250,0.2500,0.5000,0.0000,0.000,...,0.0000,0.000,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,a. A.D. 11,0.0000,0.0000,0.0000,0.0000,0.0001,0.0001,0.0002,0.0005,0.001,...,0.0625,0.125,0.25,0.5,0.0,0.0,0.0,0.0,0.0,0.0
3,a. 2 B.C.?,0.0156,0.0312,0.0625,0.1250,0.2500,0.5000,0.0000,0.0000,0.000,...,0.0000,0.000,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A.D. 9,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,...,0.0000,0.000,1.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
list(islice(dates_cleaned.items(), 5))

[('A.D. 1', [[0.5], {0.5: 1}, 0.5, '', '']),
 ('a. 1 B.C.',
  [[-1.5, -2.5, -3.5, -4.5, -5.5, -6.5, -7.5],
   {-7.5: 0.0078,
    -6.5: 0.0156,
    -5.5: 0.0312,
    -4.5: 0.0625,
    -3.5: 0.125,
    -2.5: 0.25,
    -1.5: 0.5},
   -2.0,
   'ante',
   '']),
 ('a. A.D. 11',
  [[9.5,
    8.5,
    7.5,
    6.5,
    5.5,
    4.5,
    3.5,
    2.5,
    1.5,
    0.5,
    -0.5,
    -1.5,
    -2.5,
    -3.5,
    -4.5,
    -5.5,
    -6.5,
    -7.5],
   {-7.5: 0.0,
    -6.5: 0.0,
    -5.5: 0.0,
    -4.5: 0.0,
    -3.5: 0.0001,
    -2.5: 0.0001,
    -1.5: 0.0002,
    -0.5: 0.0005,
    0.5: 0.001,
    1.5: 0.002,
    2.5: 0.0039,
    3.5: 0.0078,
    4.5: 0.0156,
    5.5: 0.0312,
    6.5: 0.0625,
    7.5: 0.125,
    8.5: 0.25,
    9.5: 0.5},
   9.0,
   'ante',
   '']),
 ('a. 2 B.C.?',
  [[-2.5, -3.5, -4.5, -5.5, -6.5, -7.5],
   {-7.5: 0.0156,
    -6.5: 0.0312,
    -5.5: 0.0625,
    -4.5: 0.125,
    -3.5: 0.25,
    -2.5: 0.5},
   -3.0,
   'ante',
   '?']),
 ('A.D. 9', [[8.5], {8.5: 1}, 8.5, '', ''])]

In [20]:
[value for value in zip(dates_cleaned.keys(), dates_cleaned.values()) if len(value[1])!=5]

[]

In [21]:
dates_cleaned_df = pd.DataFrame(dates_cleaned).T
dates_cleaned_df.reset_index(inplace=True)
#dates_cleaned_df.columns = ["raw_date", "cents", "date_probs", "date_avr", "type", "cert"]
dates_cleaned_df.head(5)

,index,0,1,2,3,4
0,A.D. 1,[0.5],{0.5: 1},0.5,,
1,a. 1 B.C.,"[-1.5, -2.5, -3.5, -4.5, -5.5, -6.5, -7.5]","{-7.5: 0.0078, -6.5: 0.0156, -5.5: 0.0312, -4....",-2,ante,
2,a. A.D. 11,"[9.5, 8.5, 7.5, 6.5, 5.5, 4.5, 3.5, 2.5, 1.5, ...","{-7.5: 0.0, -6.5: 0.0, -5.5: 0.0, -4.5: 0.0, -...",9,ante,
3,a. 2 B.C.?,"[-2.5, -3.5, -4.5, -5.5, -6.5, -7.5]","{-7.5: 0.0156, -6.5: 0.0312, -5.5: 0.0625, -4....",-3,ante,?
4,A.D. 9,[8.5],{8.5: 1},8.5,,

In [58]:
#set_with_dataframe(AGT_overview.add_worksheet("tlg_dating_probs", rows=1, cols=1), dates_pairs_df)

In [22]:
author_ids_with_raw_dates = []
for key, list_of_values in zip(tlg_authordate.keys(), tlg_authordate.values()):
  for value in list_of_values:
    author_ids_with_raw_dates.append(["tlg" + value, key])
author_ids_with_raw_dates_df = pd.DataFrame(author_ids_with_raw_dates, columns=["author_id", "raw_date"])
author_ids_with_raw_dates_df.head(5)

  author_id raw_date
0   tlg0031   A.D. 1
1   tlg0041   A.D. 1
2   tlg0280   A.D. 1
3   tlg0283   A.D. 1
4   tlg0347   A.D. 1

In [23]:
tlg_authors_with_dating_probs = pd.merge(author_ids_with_raw_dates_df, dates_pairs_df, how="inner", on="raw_date")
tlg_authors_with_dating_probs.head(5)

,author_id,raw_date,-7.5,-6.5,-5.5,-4.5,-3.5,-2.5,-1.5,-0.5,...,6.5,7.5,8.5,9.5,10.5,11.5,12.5,13.5,14.5,15.5
0,tlg0031,A.D. 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tlg0041,A.D. 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tlg0280,A.D. 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tlg0283,A.D. 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tlg0347,A.D. 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
len(tlg_authors_with_dating_probs)

1823

In [25]:
#sddk.write_file("SDAM_data/OGL/tlg_authors_with_dating_probs.json", tlg_authors_with_dating_probs, conf)

In [26]:
value_pairs = {}
for key, list_of_values in zip(tlg_authordate.keys(), tlg_authordate.values()):
  for value in list_of_values:
    value_pairs["tlg" + value] = dates_cleaned[key]

In [27]:
### checking whether it works
value_pairs["tlg0086"]

[[-3.5], {-3.5: 1}, -3.5, '', '']

In [0]:
#sddk.write_file("SDAM_data/OGL/tlg_authordate_cleaned.json", value_pairs, conf)

A file with the same name ("tlg_authordate_cleaned.json") already exists in this location.
Press Enter to overwrite it or choose different path and filename:
Your <class 'dict'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/OGL/tlg_authordate_cleaned.json"

# Dating + dataset

In [116]:
### import manually encoded dating and provenance from sciencedata
data_merged_raw = sddk.read_file("SDAM_data/AGT/AGT_raw_20201026.json", "df", conf)

In [117]:
data_merged_raw["author_id"] = data_merged_raw.apply(lambda row: row["filename"][:7], axis=1)
data_merged_raw.head(5)

,filename,author,title,string,wordcount,author_id
0,ggm0001.ggm001.1st1K-grc1.xml,Anonymous,Anametresis Pontou,1. Χρὴ γινώσκειν ὅτι πάσης τῆς γῆς ὁ περίμετρο...,382,ggm0001
1,heb0001.heb010.1st1K-eng1.xml,None,Isaias,FROM HEBREW I. 1 The vision of Isaiah the son ...,40168,heb0001
2,ogl0001.ogl001.1st1K-grc1.xml,Pinytus,De Epistola Pinyti ad Dionysium,"FRAGMENTUM BEATI PINYTI, CNOSSI IN CRETA EPISC...",180,ogl0001
3,stoa0033a.tlg028.1st1K-grc1.xml,pseudo-Aristotle,De mundo,ΠΟΛΛΑΚΙΣ μὲν ἔμοιγε θεῖόν τι καὶ δαιμόνιον ὄντ...,6294,stoa003
4,stoa0033a.tlg043.1st1K-grc1.xml,pseudo-Aristotle,De spiritu,"ΤΙΣ ἡ τοῦ ἐμφύτου πνεύματος διαμονή, καὶ τίς ἡ...",3459,stoa003

# Unique documents

In [118]:
data_merged_raw["doc_id"] = data_merged_raw.apply(lambda row: row["filename"][:14], axis=1)

In [119]:
data_merged_raw.head(5)

,filename,author,title,string,wordcount,author_id,doc_id
0,ggm0001.ggm001.1st1K-grc1.xml,Anonymous,Anametresis Pontou,1. Χρὴ γινώσκειν ὅτι πάσης τῆς γῆς ὁ περίμετρο...,382,ggm0001,ggm0001.ggm001
1,heb0001.heb010.1st1K-eng1.xml,None,Isaias,FROM HEBREW I. 1 The vision of Isaiah the son ...,40168,heb0001,heb0001.heb010
2,ogl0001.ogl001.1st1K-grc1.xml,Pinytus,De Epistola Pinyti ad Dionysium,"FRAGMENTUM BEATI PINYTI, CNOSSI IN CRETA EPISC...",180,ogl0001,ogl0001.ogl001
3,stoa0033a.tlg028.1st1K-grc1.xml,pseudo-Aristotle,De mundo,ΠΟΛΛΑΚΙΣ μὲν ἔμοιγε θεῖόν τι καὶ δαιμόνιον ὄντ...,6294,stoa003,stoa0033a.tlg0
4,stoa0033a.tlg043.1st1K-grc1.xml,pseudo-Aristotle,De spiritu,"ΤΙΣ ἡ τοῦ ἐμφύτου πνεύματος διαμονή, καὶ τίς ἡ...",3459,stoa003,stoa0033a.tlg0

In [120]:
### how many unique documents we have?
len(data_merged_raw["doc_id"].unique().tolist())

1512

In [121]:
data_merged_raw.sort_values("filename", inplace=True)

In [122]:
### remove duplicates
data_merged_raw.drop_duplicates(subset=["doc_id"], keep="last", inplace=True)

In [123]:
len(AGT)

1451

In [124]:
author_ids_with_raw_dates_df

     author_id    raw_date
0      tlg0031      A.D. 1
1      tlg0041      A.D. 1
2      tlg0280      A.D. 1
3      tlg0283      A.D. 1
4      tlg0347      A.D. 1
...        ...         ...
1818   tlg4081      A.D. 5
1819   tlg2210  a. 1 B.C.?
1820   tlg2606  a. 1 B.C.?
1821   tlg4323    A.D. 1/3
1822   tlg4325    A.D. 1/3

[1823 rows x 2 columns]

In [125]:
# merge with author_ids_with_raw_dates_df
AGT = pd.merge(data_merged_raw, author_ids_with_raw_dates_df, on="author_id")

In [126]:
### "raw_date" might now be used as a key to get anything from dates_cleaned dictionary

In [127]:
### date average
AGT["date_avr"] = AGT.apply(lambda row: dates_cleaned[row["raw_date"]][2], axis=1)

In [128]:
### date probabilities
AGT["date_probs"] = AGT.apply(lambda row: dates_cleaned[row["raw_date"]][1], axis=1)

# Add our own old manual coding of dating

In [129]:
works_overview = get_as_dataframe(AGT_overview.worksheet("works_overview_MANUAL_OLD"))
works_overview.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,pseudo-Aristotle,De mundo,stoa0033a.tlg028.1st1K-grc1,7303,3299,2313,"[187, 17.6417112299, 76, 11.6813747846]",pseudo-Aristotle,pagan,-2.5,NaN
1,pseudo-Aristotle,De spiritu,stoa0033a.tlg043.1st1K-grc1,4002,1440,1083,"[193, 7.4611398964, 35, 5.1233280094]",pseudo-Aristotle,pagan,-3.5,NaN
2,Eutropius,Breviarium historiae romanae,stoa0121.stoa001.opp-grc1,26143,13086,8941,"[960, 13.63125, 71, 8.5196746869]",Eutropius,pagan,3.5,NaN
3,Hegemonius,Acta Archelai,stoa0146d.stoa001.opp-grc1,2725,1161,727,"[105, 11.0571428571, 38, 8.2736858504]",Hegemonius,christian,3.5,NaN
4,Apollonius Rhodius,Argonautica,tlg0001.tlg001.perseus-grc2,45667,23930,15832,"[1660, 14.4156626506, 75, 8.6875895686]",Apollonius Rhodius,pagan,-2.5,NaN

In [130]:
works_overview.columns = ["author", "work", "file", "words", "lemmata", "lem_filtered", "meta", "author_alternative", "provenience", "date_man", "notes"]

In [131]:
works_overview.head(5)

,author,work,file,words,lemmata,lem_filtered,meta,author_alternative,provenience,date_man,notes
0,pseudo-Aristotle,De mundo,stoa0033a.tlg028.1st1K-grc1,7303,3299,2313,"[187, 17.6417112299, 76, 11.6813747846]",pseudo-Aristotle,pagan,-2.5,NaN
1,pseudo-Aristotle,De spiritu,stoa0033a.tlg043.1st1K-grc1,4002,1440,1083,"[193, 7.4611398964, 35, 5.1233280094]",pseudo-Aristotle,pagan,-3.5,NaN
2,Eutropius,Breviarium historiae romanae,stoa0121.stoa001.opp-grc1,26143,13086,8941,"[960, 13.63125, 71, 8.5196746869]",Eutropius,pagan,3.5,NaN
3,Hegemonius,Acta Archelai,stoa0146d.stoa001.opp-grc1,2725,1161,727,"[105, 11.0571428571, 38, 8.2736858504]",Hegemonius,christian,3.5,NaN
4,Apollonius Rhodius,Argonautica,tlg0001.tlg001.perseus-grc2,45667,23930,15832,"[1660, 14.4156626506, 75, 8.6875895686]",Apollonius Rhodius,pagan,-2.5,NaN

In [132]:
works_overview["author_id"] = works_overview.apply(lambda row: row["file"][:7], axis=1)

In [133]:
# check how indexing works
works_overview[works_overview["author_id"]=="tlg5034"]["date_man"].unique().tolist()

[-4.5]

In [134]:
# check biblical books
[value for value in works_overview[works_overview["author_id"]=="tlg0031"]["provenience"].unique().tolist() if not pd.isna(value)]

['christian']

In [135]:
### get a dict of authors with centuries and provenience values
author_cent_prov = {}
for author_id in list(set(works_overview["author_id"].tolist())):
    author_cent_prov[author_id] = ([value for value in works_overview[works_overview["author_id"]==author_id]["date_man"].unique().tolist() if not pd.isna(value)], [value for value in works_overview[works_overview["author_id"]==author_id]["provenience"].unique().tolist() if not pd.isna(value)])

In [136]:
author_cent_prov["tlg0018"]

([0.5], ['jewish'])

In [137]:
### manual update
author_cent_prov["tlg0526"] = ([0.5], ['jewish'])
author_cent_prov["tlg2040"] = ([3.5], ['christian'])
author_cent_prov["tlg1329"] = ([1.5], ['christian'])
author_cent_prov["tlg2035"] = ([3.5], ['christian'])
author_cent_prov['tlg0563'] = ([1.5], ['christian'])
author_cent_prov['tlg0013'] = ([-7.0], ['pagan'])
author_cent_prov['tlg2029'] = ([3.0], ['pagan'])
author_cent_prov['tlg0656'] = ([0.5], ['pagan'])
author_cent_prov['tlg0559'] = ([0.5], ['pagan'])
author_cent_prov['tlg0099'] = ([0], ['pagan'])

In [138]:
print(author_cent_prov)

{'stoa014': ([3.5], ['christian']), 'tlg2018': ([3.5], ['christian']), 'tlg4033': ([], []), 'tlg1487': ([], []), 'tlg0006': ([-4.5], ['pagan']), 'tlg0007': ([1.5], ['pagan']), 'tlg1216': ([1.5], ['christian']), 'tlg9004': ([], []), 'tlg0062': ([1.5], ['pagan']), 'tlg1337': ([], []), 'tlg4020': ([], []), 'tlg0561': ([1.5], ['pagan']), 'tlg0016': ([-4.5], ['pagan']), 'tlg4193': ([], []), 'tlg2000': ([2.5], ['pagan']), 'tlg0553': ([1.5], ['pagan']), 'tlg1419': ([1.5], ['christian']), 'tlg4084': ([4.5], ['christian']), 'tlg0543': ([-1.5], ['pagan']), 'tlg0001': ([-2.5], ['pagan']), 'tlg0096': ([-5.5], ['pagan']), 'tlg1622': ([1.5], ['christian']), 'tlg2115': ([2.5], ['christian']), 'tlg0614': ([1.5], ['pagan']), 'tlg4015': ([5.5], ['christian']), 'tlg0358': ([1.5], ['pagan']), 'tlg0554': ([0.5], ['pagan']), 'tlg0090': ([2.5], ['pagan']), 'tlg4013': ([], []), 'tlg1463': ([], []), 'tlg1311': ([1.5], ['christian']), 'tlg2034': ([2.5], ['pagan']), 'tlg0085': ([-4.5], ['pagan']), 'tlg0640': ([1.5], ['pagan']), 'tlg0658': ([2.5], ['pagan']), 'tlg1551': ([], []), 'tlg1724': ([1.5], ['pagan']), 'tlg0093': ([-3.5], ['pagan']), 'tlg4018': ([], []), 'tlg4016': ([], []), 'tlg0363': ([1.5], ['pagan']), 'tlg0645': ([1.5], ['christian']), 'tlg0708': ([3.5], ['pagan']), 'tlg2733': ([5.5], ['christian']), 'tlg2048': ([4.5], ['christian']), 'tlg4170': ([-4.5], ['pagan']), 'tlg1252': ([], []), 'tlg2583': ([4.5], ['pagan']), 'tlg4102': ([], []), 'tlg0008': ([2.5], ['pagan']), 'tlg1220': ([], []), 'tlg0551': ([1.5], ['pagan']), 'tlg0530': ([2.5], ['pagan']), 'tlg0616': ([1.5], ['pagan']), 'tlg1725': ([1.5], ['christian']), 'tlg0541': ([], []), 'tlg0014': ([-3.5], ['pagan']), 'tlg4031': ([], []), 'tlg2050': ([], []), 'tlg1765': ([], []), 'tlg0020': ([-6.5], ['pagan']), 'tlg0565': ([3.5], ['pagan']), 'tlg1205': ([1.5], ['christian']), 'tlg1799': ([-3.5], ['pagan']), 'stoa003': ([-2.5, -3.5], ['pagan']), 'tlg0033': ([-4.5], ['pagan']), 'tlg2001': ([], []), 'tlg0018': ([0.5], ['jewish']), 'tlg4019': ([], []), 'tlg0074': ([1.5], ['pagan']), 'tlg0615': ([], []), 'tlg5034': ([-4.5], ['pagan']), 'tlg5022': ([], []), 'tlg1126': ([], []), 'tlg0059': ([-3.5], ['pagan']), 'tlg1443': ([1.5], ['christian']), 'tlg1600': ([2.5], ['pagan']), 'tlg3156': ([], []), 'tlg1484': ([1.5], ['christian']), 'tlg0627': ([-3.5], ['pagan']), 'tlg2041': ([], []), 'tlg2703': ([], []), 'stoa012': ([3.5], ['pagan']), 'tlg1447': ([2.5], ['christian']), 'tlg0015': ([2.5], ['pagan']), 'tlg2959': ([3.5], ['christian']), 'tlg4030': ([], []), 'tlg2042': ([2.5], ['christian']), 'tlg0012': ([-7.5], ['pagan']), 'tlg0082': ([1.5], ['pagan']), 'tlg1389': ([1.5], ['pagan']), 'tlg4024': ([], []), 'tlg1210': ([], []), 'tlg0032': ([-3.5], ['pagan']), 'tlg4089': ([4.5], ['christian']), 'tlg4036': ([4.5], ['pagan']), 'tlg4034': ([], []), 'tlg0593': ([-4.5], ['pagan']), 'tlg0751': ([], []), 'tlg5026': ([], []), 'tlg0525': ([1.5], ['pagan']), 'tlg0661': ([1.5], ['pagan']), 'tlg2022': ([3.5], ['christian']), 'tlg2021': ([3.5], ['christian']), 'tlg0019': ([-3.5], ['pagan']), 'tlg0610': ([-3.5], ['pagan']), 'tlg9019': ([], []), 'tlg4027': ([], []), 'tlg2058': ([4.5], ['christian']), 'tlg2255': ([-3.5], ['pagan']), 'tlg0013': ([-7.0], ['pagan']), 'tlg3118': ([], []), 'tlg4075': ([], []), 'tlg4090': ([4.5], ['christian']), 'tlg0612': ([0.5], ['pagan']), 'tlg0544': ([1.5], ['pagan']), 'tlg0057': ([2.5], ['pagan']), 'tlg1409': ([-3.5], ['pagan']), 'tlg0088': ([-3.5], ['pagan']), 'tlg0010': ([-3.5], ['pagan']), 'tlg0011': ([-4.5], ['pagan']), 'tlg3135': ([], []), 'tlg0643': ([], []), 'tlg0031': ([0.5], ['christian']), 'tlg1766': ([1.5], ['christian']), 'tlg4017': ([], []), 'tlg0540': ([-4.5], ['pagan']), 'tlg0591': ([-3.5], ['pagan']), 'tlg2200': ([3.5], ['pagan']), 'tlg1701': ([], []), 'tlg0527': ([], ['jewish']), 'tlg0555': ([2.5], ['christian']), 'tlg1271': ([0.5], ['christian']), 'tlg9006': ([], []), 'tlg0548': ([1.5], ['pagan']), 'tlg2057': ([4.5], ['christian']), 'tlg0003': ([-4.5], ['pagan']), 'tlg0732': ([2.5], ['pagan']), 'tlg4021': ([], []), 'tlg2036': ([], []), 'tlg2023': ([3.5], ['pagan']), 'tlg0086': ([-3.5], ['pagan']), 'tlg2768': ([], []), 'tlg2371': ([], []), 'tlg0028': ([-4.5], ['pagan']), 'tlg0646': ([1.5], ['christian']), 'tlg0526': ([0.5], ['jewish']), 'tlg2040': ([3.5], ['christian']), 'tlg1329': ([1.5], ['christian']), 'tlg2035': ([3.5], ['christian']), 'tlg0563': ([1.5], ['christian']), 'tlg2029': ([3.0], ['pagan']), 'tlg0656': ([0.5], ['pagan']), 'tlg0559': ([0.5], ['pagan']), 'tlg0099': ([0], ['pagan'])}

In [139]:
#sddk.write_file("SDAM_data/AGT/author_cent_prov.json", author_cent_prov, conf)

In [140]:
def return_cent(author_id):
  try:
    cent = float(author_cent_prov[author_id][0][0])
  except: 
    cent = None
  return cent

AGT["date_manual"] = AGT["author_id"].apply(return_cent) # lambda row: return_cent(row["author_id"]), axis=1)

In [141]:
def return_provenience(author_id):
  try:
    prov = author_cent_prov[author_id][1][0]
  except: 
    prov = ""
  return prov

AGT["provenience"] = AGT["author_id"].apply(return_provenience)

In [142]:
AGT["wordcount"].sum()

33421087

In [143]:
AGT.head(30)

,filename,author,title,string,wordcount,author_id,doc_id,raw_date,date_avr,date_probs,date_manual,provenience
0,tlg0001.tlg001.perseus-grc2.xml,Apollonius Rhodius,Argonautica,"ἀρχόμενος σέο, Φοῖβε, παλαιγενέων κλέα φωτῶν μ...",38822,tlg0001,tlg0001.tlg001,3 B.C.,-2.5,{-2.5: 1},-2.5,pagan
1,tlg0003.tlg001.perseus-grc2.xml,Thucydides,The Peloponnesian War,\nΘουκυδίδης Ἀθηναῖος ξυνέγραψε τὸν πόλεμον τῶ...,150126,tlg0003,tlg0003.tlg001,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
2,tlg0004.tlg001.perseus-grc1.xml,Diogenes Laertius,Lives of Eminent Philosophers,Τὸ τῆς φιλοσοφίας ἔργον ἔνιοί φασιν ἀπὸ βαρβάρ...,110773,tlg0004,tlg0004.tlg001,A.D. 3,2.5,{2.5: 1},NaN,
3,tlg0005.tlg001.perseus-grc1.xml,Theocritus,Idylls,\n̔Αδύ τι τὸ ψιθύρισμα καὶ ἁ πίτυς αἰπόλε τήνα...,19200,tlg0005,tlg0005.tlg001,4-3 B.C.,-3.0,"{-3.5: 0.5, -2.5: 0.5}",NaN,
4,tlg0005.tlg002.perseus-grc1.xml,Theocritus,Epigrams,τὰ ῥόδα τὰ δροσόεντα καὶ ἁ κατάπυκνος ἐκείνα ἕ...,1734,tlg0005,tlg0005.tlg002,4-3 B.C.,-3.0,"{-3.5: 0.5, -2.5: 0.5}",NaN,
5,tlg0005.tlg003.1st1K-grc1.xml,Theocritus,Syrinx,Οὐδενὸς εὐνάτειρα Μακροπτολέμοιο δὲ μάτηρ μαί...,77,tlg0005,tlg0005.tlg003,4-3 B.C.,-3.0,"{-3.5: 0.5, -2.5: 0.5}",NaN,
6,tlg0006.tlg001.perseus-grc2.xml,Euripides,Cyclops,"Ὦ Βρόμιε, διὰ σὲ μυρίους ἔχω πόνους νῦν χὥτ’ ...",4141,tlg0006,tlg0006.tlg001,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
7,tlg0006.tlg004.perseus-grc2.xml,Euripides,Ἡρακλεῖδαι,Πάλαι ποτʼ ἐστὶ τοῦτʼ ἐμοὶ δεδογμένον· ὁ μὲν...,6272,tlg0006,tlg0006.tlg004,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
8,tlg0006.tlg005.perseus-grc2.xml,Euripides,Ἱππόλυτος,"Πολλὴ μὲν ἐν βροτοῖσι κοὐκ ἀνώνυμος, θεὰ κέκλ...",8257,tlg0006,tlg0006.tlg005,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
9,tlg0006.tlg006.perseus-grc2.xml,Euripides,Ἀνδρομάχη,"Ἀσιάτιδος γῆς σχῆμα, Θηβαία πόλι, ὅθεν ποθ’ ἕ...",7397,tlg0006,tlg0006.tlg006,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
10,tlg0006.tlg007.perseus-grc2.xml,Euripides,Ἑκάβη,"Ἥκω νεκρῶν κευθμῶνα καὶ σκότου πύλας λιπών, ἵν...",7340,tlg0006,tlg0006.tlg007,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
11,tlg0006.tlg008.perseus-grc2.xml,Euripides,Ἱκέτιδες,"Δήμητερ ἑστιοῦχʼ Ἐλευσῖνος χθονὸς τῆσδʼ, οἵ τ...",7166,tlg0006,tlg0006.tlg008,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
12,tlg0006.tlg009.perseus-grc2.xml,Euripides,Ἡρακλῆς,"Τίς τὸν Διὸς σύλλεκτρον οὐκ οἶδεν βροτῶν, Ἀρ...",7977,tlg0006,tlg0006.tlg009,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
13,tlg0006.tlg010.perseus-grc2.xml,Euripides,Ἴων,"Ἄτλας, ὁ χαλκέοισι νώτοις οὐρανὸν θεῶν παλαιὸ...",9339,tlg0006,tlg0006.tlg010,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
14,tlg0006.tlg011.perseus-grc2.xml,Euripides,Τρῳάδες,Ἥκω λιπὼν Αἴγαιον ἁλμυρὸν βάθος πόντου Ποσειδ...,7230,tlg0006,tlg0006.tlg011,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
15,tlg0006.tlg012.perseus-grc2.xml,Euripides,Ἠλέκτρα,"ὦ γῆς παλαιὸν ἄργος, Ἰνάχου ῥοαί, ὅθεν ποτʼ ἄ...",7781,tlg0006,tlg0006.tlg012,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
16,tlg0006.tlg013.perseus-grc2.xml,Euripides,Ἰφιγένεια ἐν Ταύροις,Πέλοψ ὁ Ταντάλειος ἐς Πῖσαν μολὼν θοαῖσιν ἵππ...,8497,tlg0006,tlg0006.tlg013,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
17,tlg0006.tlg014.perseus-grc2.xml,Euripides,Ἑλένη,"Νείλου μὲν αἵδε καλλιπάρθενοι ῥοαί, ὃς ἀντὶ δί...",9982,tlg0006,tlg0006.tlg014,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
18,tlg0006.tlg015.perseus-grc2.xml,Euripides,Φοίνισσαι,ὦ τὴν ἐν ἄστροις οὐρανοῦ τέμνων ὁδὸν καὶ χρυσ...,9951,tlg0006,tlg0006.tlg015,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
19,tlg0006.tlg016.perseus-grc2.xml,Euripides,Orestes,Οὐκ ἔστιν οὐδὲν δεινὸν ὧδʼ εἰπεῖν ἔπος οὐδὲ π...,10115,tlg0006,tlg0006.tlg016,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
20,tlg0006.tlg017.perseus-grc2.xml,Euripides,Βάκχαι,"ἥκω Διὸς παῖς τήνδε Θηβαίων χθόνα Διόνυσος, ὃ...",7911,tlg0006,tlg0006.tlg017,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
21,tlg0006.tlg018.perseus-grc2.xml,Euripides,Ἰφιγένεια ἐν Αὐλίδι,"Ἐγένοντο Λήδᾳ Θεστιάδι τρεῖς παρθένοι, Φοίβη ...",9481,tlg0006,tlg0006.tlg018,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
22,tlg0006.tlg019.perseus-grc2.xml,Euripides,Ῥῆσος,— Βᾶθι πρὸς εὐνὰς τὰς Ἑκτορέους. τίς ὑπασπιστ...,5506,tlg0006,tlg0006.tlg019,5 B.C.,-4.5,{-4.5: 1},-4.5,pagan
23,tlg0007.tlg001.perseus-grc2.xml,Plutarch,Theseus,"ὥσπερ ἐν ταῖς γεωγραφίαις, ὦ Σόσσιε Σενεκίων,...",7594,tlg0007,tlg0007.tlg001,A.D. 1-2,1.0,"{0.5: 0.5, 1.5: 0.5}",1.5,pagan
24,tlg0007.tlg002.perseus-grc2.xml,Plutarch,Romulus,\nτὸ μέγα τῆς Ῥώμης ὄνομα καὶ δόξῃ διὰ πάντων ...,9397,tlg0007,tlg0007.tlg002,A.D. 1-2,1.0,"{0.5: 0.5, 1.5: 0.5}",1.5,pagan
25,tlg0007.tlg003.perseus-grc2.xml,Plutarch,Comparison of Theseus and Romulus,ἃ μὲν οὖν ἄξια μνήμης πυθέσθαι περὶ Ῥωμύλου κ...,1173,tlg0007,tlg0007.tlg003,A.D. 1-2,1.0,"{0.5: 0.5, 1.5: 0.5}",1.5,pagan
26,tlg0007.tlg004.perseus-grc2.xml,Plutarch,Lycurgus,\nπερὶ Λυκούργου τοῦ νομοθέτου καθόλου μὲν\n ...,9656,tlg0007,tlg0007.tlg004,A.D. 1-2,1.0,"{0.5: 0.5, 1.5: 0.5}",1.5,pagan
27,tlg0007.tlg005.perseus-grc2.xml,Plutarch,Numa,\nἔστι δὲ καὶ περὶ τῶν Νομᾶ τοῦ βασιλέως\n ...,7653,tlg0007,tlg0007.tlg005,A.D. 1-2,1.0,"{0.5: 0.5, 1.5: 0.5}",1.5,pagan
28,tlg0007.tlg006.perseus-grc2.xml,Plutarch,Comparison of Lycurgus and Numa,\nἀλλʼ ἐπεὶ τὸν Νομᾶ καὶ Λυκούργου διεληλύθαμε...,1606,tlg0007,tlg0007.tlg006,A.D. 1-2,1.0,"{0.5: 0.5, 1.5: 0.5}",1.5,pagan
29,tlg0007.tlg007.perseus-grc2.xml,Plutarch,Solon,δίδυμος ὁ γραμματικὸς ἐν τῇ περὶ τῶν ἀξόνων τ...,8868,tlg0007,tlg0007.tlg007,A.D. 1-2,1.0,"{0.5: 0.5, 1.5: 0.5}",1.5,pagan

# Dating Homeric Hymns

In [144]:
AGT[AGT["author_id"]=="tlg0013"]

,filename,author,title,string,wordcount,author_id,doc_id,raw_date,date_avr,date_probs,date_manual,provenience
205,tlg0013.tlg001.perseus-grc2.xml,Anonymous,Hymn 1 To Dionysus,"\n\nοἳ μὲν γὰρ Δρακάνῳ σʼ, οἳ δʼ Ἰκάρῳ ἠνεμοέσ...",144,tlg0013,tlg0013.tlg001,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
206,tlg0013.tlg002.perseus-grc2.xml,Anonymous,Hymn 2 To Demeter,"\nΔήμητρʼ ἠύκομον, σεμνὴν θεόν, ἄρχομʼ ἀείδειν...",3373,tlg0013,tlg0013.tlg002,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
207,tlg0013.tlg003.perseus-grc2.xml,Anonymous,Hymn 3 To Apollo,"μνήσομαι οὐδὲ λάθωμαι Ἀπόλλωνος ἑκάτοιο, ὅντε...",3896,tlg0013,tlg0013.tlg003,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
208,tlg0013.tlg004.perseus-grc2.xml,Anonymous,Hymn 4 To Hermes,"Ἑρμῆν ὕμνει, Μοῦσα, Διὸς καὶ Μαιάδος υἱόν, Κυ...",4031,tlg0013,tlg0013.tlg004,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
209,tlg0013.tlg005.perseus-grc2.xml,Anonymous,Hymn 5 To Aphrodite,"μοῦσά μοι ἔννεπε ἔργα πολυχρύσου Ἀφροδίτης, Κ...",2047,tlg0013,tlg0013.tlg005,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
210,tlg0013.tlg006.perseus-grc2.xml,Anonymous,Hymn 6 To Aphrodite,"αἰδοίην, χρυσοστέφανον, καλὴν Ἀφροδίτην ᾁσομα...",131,tlg0013,tlg0013.tlg006,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
211,tlg0013.tlg007.perseus-grc2.xml,Anonymous,Hymn 7 To Dionysus,"ἀμφὶ Διώνυσον, Σεμέλης ἐρικυδέος υἱόν, μνήσομ...",425,tlg0013,tlg0013.tlg007,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
212,tlg0013.tlg008.perseus-grc2.xml,Anonymous,Hymn 8 To Ares,"Ἆρες ὑπερμενέτα, βρισάρματε, χρυσεοπήληξ, ὀβρ...",100,tlg0013,tlg0013.tlg008,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
213,tlg0013.tlg009.perseus-grc2.xml,Anonymous,Hymn 9 To Artemis,"Ἄρτεμιν ὕμνει, Μοῦσα, κασιγνήτην Ἑκάτοιο. παρ...",57,tlg0013,tlg0013.tlg009,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
214,tlg0013.tlg010.perseus-grc2.xml,Anonymous,Hymn 10 To Aphrodite,"κυπρογενῆ Κυθέρειαν ἀείσομαι, ἥτε βροτοῖσι με...",39,tlg0013,tlg0013.tlg010,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
215,tlg0013.tlg011.perseus-grc2.xml,Anonymous,Hymn 11 To Athena,"Παλλάδʼ Ἀθηναίην ἐρυσίπτολιν ἄρχομʼ ἀείδειν, ...",35,tlg0013,tlg0013.tlg011,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
216,tlg0013.tlg012.perseus-grc2.xml,Anonymous,Hymn 12 To Hera,"Ἥρην ἀείδω χρυσόθρονον, ἣν τέκε Ῥείη, ἀθανάτω...",28,tlg0013,tlg0013.tlg012,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
217,tlg0013.tlg013.perseus-grc2.xml,Anonymous,Hymn 13 To Demeter,"Δημήτηρ’ ἠύκομον, σεμνὴν θεάν, ἄρχομ’ ἀείδειν,...",20,tlg0013,tlg0013.tlg013,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
218,tlg0013.tlg014.perseus-grc2.xml,Anonymous,Hymn 14 to the Mother of the Gods,μητέρα μοι πάντων τε θεῶν πάντων τʼ ἀνθρώπων ...,46,tlg0013,tlg0013.tlg014,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
219,tlg0013.tlg015.perseus-grc2.xml,Anonymous,Hymn 15 To Heracles the Lion-Hearted,"Ἡρακλέα, Διὸς υἱόν, ἀείσομαι, ὃν μέγʼ ἄριστον ...",61,tlg0013,tlg0013.tlg015,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
220,tlg0013.tlg016.perseus-grc2.xml,Anonymous,Hymn 16 To Asclepius,"ἰητῆρα νόσων Ἀσκληπιὸν ἄρχομʼ ἀείδειν, υἱὸν Ἀ...",33,tlg0013,tlg0013.tlg016,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
221,tlg0013.tlg017.perseus-grc2.xml,Anonymous,Hymn 17 To the Dioscuri,"Κάστορα καὶ Πολυδεύκἐ ἀείσεο, Μοῦσα λίγεια, Τ...",27,tlg0013,tlg0013.tlg017,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
222,tlg0013.tlg018.perseus-grc2.xml,Anonymous,Hymn 18 To Hermes,"Ἑρμῆν ἀείδω Κυλλήνιον, Ἀργειφόντην, Κυλλήνης ...",75,tlg0013,tlg0013.tlg018,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
223,tlg0013.tlg019.perseus-grc2.xml,Anonymous,Hymn 19 to Pan,"ἀμφί μοι Ἑρμείαο φίλον γόνον ἔννεπε, Μοῦσα, α...",336,tlg0013,tlg0013.tlg019,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
224,tlg0013.tlg020.perseus-grc2.xml,Anonymous,Hymn 20 To Hephaestus,"Ἥφαιστον κλυτόμητιν ἀείσεο, Μοῦσα λίγεια, ὃς ...",51,tlg0013,tlg0013.tlg020,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
225,tlg0013.tlg021.perseus-grc2.xml,Anonymous,Hymn 21 To Apollo,"φοῖβε, σὲ μὲν καὶ κύκνος ὑπὸ πτερύγων λίγʼ ἀεί...",38,tlg0013,tlg0013.tlg021,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
226,tlg0013.tlg022.perseus-grc2.xml,Anonymous,Hymn 22 To Poseidon,"ἀμφὶ Ποσειδάωνα, μέγαν θεόν, ἄρχομʼ ἀείδειν, ...",42,tlg0013,tlg0013.tlg022,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
227,tlg0013.tlg023.perseus-grc2.xml,Anonymous,Hymn 23 to Zeus,"Ζῆνα θεῶν τὸν ἄριστον ἀείσομαι ἠδὲ μέγιστον, ...",22,tlg0013,tlg0013.tlg023,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
228,tlg0013.tlg024.perseus-grc2.xml,Anonymous,Hymn 24 To Hestia,"ἑστίη, ἥτε ἄνακτος Ἀπόλλωνος ἑκάτοιο Πυθοῖ ἐν...",33,tlg0013,tlg0013.tlg024,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
229,tlg0013.tlg025.perseus-grc2.xml,Anonymous,Hymn 25 To the Muses and Apollo,μουσάων ἄρχωμαι Ἀπόλλωνός τε Διός τε· ἐκ γὰρ ...,51,tlg0013,tlg0013.tlg025,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
230,tlg0013.tlg026.perseus-grc2.xml,Anonymous,Hymn 26 To Dionysus,"κισσοκόμην Διόνυσον ἐρίβρομον ἄρχομʼ ἀείδειν, ...",89,tlg0013,tlg0013.tlg026,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
231,tlg0013.tlg027.perseus-grc2.xml,Anonymous,Hymn 27 To Artemis,"Ἄρτεμιν ἀείδω χρυσηλάκατον, κελαδεινήν, παρθέ...",132,tlg0013,tlg0013.tlg027,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
232,tlg0013.tlg028.perseus-grc2.xml,Anonymous,Hymn 28 To Athena,"Παλλάδ’ Ἀθηναίην, κυδρὴν θεόν, ἄρχομ’ ἀείδειν ...",111,tlg0013,tlg0013.tlg028,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
233,tlg0013.tlg029.perseus-grc2.xml,Anonymous,Hymn 29 To Hestia,"ἑστίη, ἣ πάντων ἐν δώμασιν ὑψηλοῖσιν ἀθανάτων...",96,tlg0013,tlg0013.tlg029,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
234,tlg0013.tlg030.perseus-grc2.xml,Anonymous,Hymn 30 To Earth,"γαῖαν παμμήτειραν ἀείσομαι, ἠυθέμεθλον, πρεσβ...",133,tlg0013,tlg0013.tlg030,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
235,tlg0013.tlg031.perseus-grc2.xml,Anonymous,Hymn 31 To Helios,"ἥλιον ὑμνεῖν αὖτε Διὸς τέκος ἄρχεο Μοῦσα, Καλ...",131,tlg0013,tlg0013.tlg031,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
236,tlg0013.tlg032.perseus-grc2.xml,Anonymous,Hymn 32 To Selene,"μήνην ἀείδειν τανυσίπτερον ἔσπετε, Μοῦσαι, ἡδ...",123,tlg0013,tlg0013.tlg032,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
237,tlg0013.tlg033.perseus-grc2.xml,Anonymous,Hymn 33 To the Dioscuri,"ἀμφὶ Διὸς κούρους, ἑλικώπιδες ἔσπετε Μοῦσαι, ...",116,tlg0013,tlg0013.tlg033,8-6 B.C.,-7.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan

In [145]:
AGT.loc[AGT["doc_id"].str.startswith("tlg0013"), "author"] = "Homeric hymn"

In [146]:
### updated dates for the longest homeric hymns, based on:
### Faulkner, Andrew, ‘Introduction. Modern Scholarship on the Homeric Hymns: Foundational Issues’, in The Homeric Hymns: Interpretative Essays, ed. by Andrew Faulkner (Oxford: Oxford University Press, 2011), pp. 1–25

AGT.loc[AGT["doc_id"] == "tlg0013.tlg001", "author_id"] = "tlg0013dyon"
AGT.loc[AGT["doc_id"] == "tlg0013.tlg001", "date_avr"] = -6.5

AGT.loc[AGT["doc_id"] == "tlg0013.tlg002", "author_id"] = "tlg0013deme"
AGT.loc[AGT["doc_id"] == "tlg0013.tlg002", "date_avr"] = -6.0

AGT.loc[AGT["doc_id"] == "tlg0013.tlg003", "author_id"] = "tlg0013apol"
AGT.loc[AGT["doc_id"] == "tlg0013.tlg003", "date_avr"] = -6.0

AGT.loc[AGT["doc_id"] == "tlg0013.tlg004", "author_id"] = "tlg0013herm" # "Ultimately, a late-sixth-century date for Hermes seems most attractive, but the Hymn could also belong to the ﬁrst half of the ﬁfth century."
AGT.loc[AGT["doc_id"] == "tlg0013.tlg004", "date_avr"] = -5.0

AGT.loc[AGT["doc_id"] == "tlg0013.tlg005", "author_id"] = "tlg0013aphr"
AGT.loc[AGT["doc_id"] == "tlg0013.tlg005", "date_avr"] = -6.0

AGT.loc[AGT["doc_id"] == "tlg0013.tlg007", "author_id"] = "tlg0013dyo2"
AGT.loc[AGT["doc_id"] == "tlg0013.tlg007", "date_avr"] = -5.0

AGT.loc[AGT["doc_id"] == "tlg0013.tlg019", "author_id"] = "tlg0013pan"
AGT.loc[AGT["doc_id"] == "tlg0013.tlg019", "date_avr"] = -5.0

### drop all remaining
AGT = AGT[AGT["author_id"] != "tlg0013"]

Faulkner concerning the remaining hymns: "The remaining Homeric Hymns, all of which are shorter than those discussed above, often do not contain any evidence on which to make a decision about date. Janko analyses certain linguistic features of Hymns 6, 27, 28, 30, 31, 32, and 33, which are all between 16 and 22 lines in length, 74 but the small data set does not allow for reliable conclusions about date. In most cases, the shorter Hymns can probably be assigned to the period between 700 and 500 BC, but there are a few exceptions which are worth discussing brieﬂy here. An obvious outsider in the collection is Hymn 8 to Ares. Its style, distinguished by an accumulation of epithets, and its identiﬁcation of Ares with the planet Mars suggest Neoplatonic authorship."

In [109]:
### drop all remaining
AGT = AGT[AGT["author_id"] != "tlg0013"]

In [147]:
AGT[AGT["author_id"].str.startswith("tlg0013")]

,filename,author,title,string,wordcount,author_id,doc_id,raw_date,date_avr,date_probs,date_manual,provenience
205,tlg0013.tlg001.perseus-grc2.xml,Homeric hymn,Hymn 1 To Dionysus,"\n\nοἳ μὲν γὰρ Δρακάνῳ σʼ, οἳ δʼ Ἰκάρῳ ἠνεμοέσ...",144,tlg0013dyon,tlg0013.tlg001,8-6 B.C.,-6.5,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
206,tlg0013.tlg002.perseus-grc2.xml,Homeric hymn,Hymn 2 To Demeter,"\nΔήμητρʼ ἠύκομον, σεμνὴν θεόν, ἄρχομʼ ἀείδειν...",3373,tlg0013deme,tlg0013.tlg002,8-6 B.C.,-6.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
207,tlg0013.tlg003.perseus-grc2.xml,Homeric hymn,Hymn 3 To Apollo,"μνήσομαι οὐδὲ λάθωμαι Ἀπόλλωνος ἑκάτοιο, ὅντε...",3896,tlg0013apol,tlg0013.tlg003,8-6 B.C.,-6.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
208,tlg0013.tlg004.perseus-grc2.xml,Homeric hymn,Hymn 4 To Hermes,"Ἑρμῆν ὕμνει, Μοῦσα, Διὸς καὶ Μαιάδος υἱόν, Κυ...",4031,tlg0013herm,tlg0013.tlg004,8-6 B.C.,-5.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
209,tlg0013.tlg005.perseus-grc2.xml,Homeric hymn,Hymn 5 To Aphrodite,"μοῦσά μοι ἔννεπε ἔργα πολυχρύσου Ἀφροδίτης, Κ...",2047,tlg0013aphr,tlg0013.tlg005,8-6 B.C.,-6.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
211,tlg0013.tlg007.perseus-grc2.xml,Homeric hymn,Hymn 7 To Dionysus,"ἀμφὶ Διώνυσον, Σεμέλης ἐρικυδέος υἱόν, μνήσομ...",425,tlg0013dyo2,tlg0013.tlg007,8-6 B.C.,-5.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan
223,tlg0013.tlg019.perseus-grc2.xml,Homeric hymn,Hymn 19 to Pan,"ἀμφί μοι Ἑρμείαο φίλον γόνον ἔννεπε, Μοῦσα, α...",336,tlg0013pan,tlg0013.tlg019,8-6 B.C.,-5.0,"{-7.5: 0.3333, -6.5: 0.3333, -5.5: 0.3333}",-7.0,pagan

# New Testament - split into individual authors to be approached separately

In [148]:
AGT[AGT["author_id"].str.startswith("tlg0031")]

,filename,author,title,string,wordcount,author_id,doc_id,raw_date,date_avr,date_probs,date_manual,provenience
385,tlg0031.tlg001.perseus-grc2.xml,None,New Testament - Matthew,ΒΙΒΛΟΣ γενέσεως Ἰησοῦ Χριστοῦ υἱοῦ Δαυεὶδ υἱ...,18288,tlg0031,tlg0031.tlg001,A.D. 1,0.5,{0.5: 1},0.5,christian
386,tlg0031.tlg002.perseus-grc2.xml,None,New Testament - Mark,\n\n ΑΡΧΗ τοῦ εὐαγγελίου Ἰη...,11274,tlg0031,tlg0031.tlg002,A.D. 1,0.5,{0.5: 1},0.5,christian
387,tlg0031.tlg003.perseus-grc2.xml,None,New Testament - Luke,\n\n ΕΠΕΙΔΗΠΕΡ ΠΟΛΛΟΙ ἐπεχε...,19458,tlg0031,tlg0031.tlg003,A.D. 1,0.5,{0.5: 1},0.5,christian
388,tlg0031.tlg004.perseus-grc2.xml,None,New Testament - John,"\n\n ΕΝ ΑΡΧΗ ἦν ὁ λόγος, κα...",15590,tlg0031,tlg0031.tlg004,A.D. 1,0.5,{0.5: 1},0.5,christian
389,tlg0031.tlg005.perseus-grc2.xml,None,New Testament - Acts,\n τὸν μὲν πρῶτον λόγον ἐποιησάμην περὶ πάντων...,18406,tlg0031,tlg0031.tlg005,A.D. 1,0.5,{0.5: 1},0.5,christian
390,tlg0031.tlg006.perseus-grc2.xml,None,New Testament - Romans,\n\n ΠΑΥΛΟΣ δοῦλος Ἰησοῦ Χρ...,7107,tlg0031,tlg0031.tlg006,A.D. 1,0.5,{0.5: 1},0.5,christian
391,tlg0031.tlg007.perseus-grc2.xml,None,New Testament - 1 Corinthians,\n\n ΠΑΥΛΟΣ κλητὸς ἀπόστολο...,6814,tlg0031,tlg0031.tlg007,A.D. 1,0.5,{0.5: 1},0.5,christian
392,tlg0031.tlg008.perseus-grc2.xml,None,New Testament - 2 Corinthians,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,4470,tlg0031,tlg0031.tlg008,A.D. 1,0.5,{0.5: 1},0.5,christian
393,tlg0031.tlg009.perseus-grc2.xml,None,New Testament - Galatians,"\n\n ΠΑΥΛΟΣ ἀπόστολος, οὐκ ...",2235,tlg0031,tlg0031.tlg009,A.D. 1,0.5,{0.5: 1},0.5,christian
394,tlg0031.tlg010.perseus-grc2.xml,None,New Testament - Ephesians,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,2421,tlg0031,tlg0031.tlg010,A.D. 1,0.5,{0.5: 1},0.5,christian
395,tlg0031.tlg011.perseus-grc2.xml,None,New Testament - Philippians,\n\n ΠΑΥΛΟΣ ΚΑΙ ΤΙΜΟΘΕΟΣ δο...,1631,tlg0031,tlg0031.tlg011,A.D. 1,0.5,{0.5: 1},0.5,christian
396,tlg0031.tlg012.perseus-grc2.xml,None,New Testament - Colossians,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,1580,tlg0031,tlg0031.tlg012,A.D. 1,0.5,{0.5: 1},0.5,christian
397,tlg0031.tlg013.perseus-grc2.xml,None,New Testament - 1 Thessalonians,\n\n ΠΑΥΛΟΣ ΚΑΙ ΣΙΛΟΥΑΝΟΣ Κ...,1475,tlg0031,tlg0031.tlg013,A.D. 1,0.5,{0.5: 1},0.5,christian
398,tlg0031.tlg014.perseus-grc2.xml,None,New Testament - 2 Thessalonians,\n\n ΠΑΥΛΟΣ ΚΑΙ ΣΙΛΟΥΑΝΟΣ Κ...,822,tlg0031,tlg0031.tlg014,A.D. 1,0.5,{0.5: 1},0.5,christian
399,tlg0031.tlg015.perseus-grc2.xml,None,New Testament - 1 Timothy,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,1597,tlg0031,tlg0031.tlg015,A.D. 1,0.5,{0.5: 1},0.5,christian
400,tlg0031.tlg016.perseus-grc2.xml,None,New Testament - 2 Timothy,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,1245,tlg0031,tlg0031.tlg016,A.D. 1,0.5,{0.5: 1},0.5,christian
401,tlg0031.tlg017.perseus-grc2.xml,None,New Testament - Titus,"\n\n ΠΑΥΛΟΣ δοῦλος θεοῦ, ἀπ...",659,tlg0031,tlg0031.tlg017,A.D. 1,0.5,{0.5: 1},0.5,christian
402,tlg0031.tlg018.perseus-grc2.xml,None,New Testament - Philemon,\n\n ΠΑΥΛΟΣ δέσμιος Χριστοῦ...,334,tlg0031,tlg0031.tlg018,A.D. 1,0.5,{0.5: 1},0.5,christian
403,tlg0031.tlg019.perseus-grc2.xml,None,New Testament - Hebrews,\n\n ΠΟΛΥΜΕΡΩΣ ΚΑΙ ΠΟΛΥΤΡΟΠ...,4972,tlg0031,tlg0031.tlg019,A.D. 1,0.5,{0.5: 1},0.5,christian
404,tlg0031.tlg020.perseus-grc2.xml,None,New Testament - James,\n\n ΙΑΚΩΒΟΣ θεοῦ καὶ κυρίο...,1734,tlg0031,tlg0031.tlg020,A.D. 1,0.5,{0.5: 1},0.5,christian
405,tlg0031.tlg021.perseus-grc2.xml,None,New Testament - 1 Peter,\n\n ΠΕΤΡΟΣ ἀπόστολος Ἰησοῦ...,1669,tlg0031,tlg0031.tlg021,A.D. 1,0.5,{0.5: 1},0.5,christian
406,tlg0031.tlg022.perseus-grc2.xml,None,New Testament - 2 Peter,\n\n ΣΙΜΩΝ ΠΕΤΡΟΣ δοῦλος κα...,1095,tlg0031,tlg0031.tlg022,A.D. 1,0.5,{0.5: 1},0.5,christian
407,tlg0031.tlg023.perseus-grc2.xml,None,New Testament - 1 John,"\n\n Ο ΗΝ ΑΠʼ ΑΡΧΗΣ, ὃ ἀκηκ...",2135,tlg0031,tlg0031.tlg023,A.D. 1,0.5,{0.5: 1},0.5,christian
408,tlg0031.tlg024.perseus-grc2.xml,None,New Testament - 2 John,\n\n Ο ΠΡΕΣΒΥΤΕΡΟΣ ἐκλεκτῇ ...,245,tlg0031,tlg0031.tlg024,A.D. 1,0.5,{0.5: 1},0.5,christian
409,tlg0031.tlg025.perseus-grc2.xml,None,New Testament - 3 John,\n\n Ο ΠΡΕΣΒΥΤΕΡΟΣ Γαίῳ τῷ ...,219,tlg0031,tlg0031.tlg025,A.D. 1,0.5,{0.5: 1},0.5,christian
410,tlg0031.tlg026.perseus-grc2.xml,None,New Testament - Jude,\n\n ΙΟΥΔΑΣ Ἰησοῦ Χριστοῦ δ...,456,tlg0031,tlg0031.tlg026,A.D. 1,0.5,{0.5: 1},0.5,christian
411,tlg0031.tlg027.perseus-grc2.xml,None,New Testament - Revelation,\n\n ΑΠΟΚΑΛΥΨΙΣ ΙΗΣΟΥ ΧΡΙΣΤ...,9857,tlg0031,tlg0031.tlg027,A.D. 1,0.5,{0.5: 1},0.5,christian

In [150]:
paul = ["tlg0031.tlg006", "tlg0031.tlg007", "tlg0031.tlg008", "tlg0031.tlg009", "tlg0031.tlg011", "tlg0031.tlg013", "tlg0031.tlg018"]
pauline = ["tlg0031.tlg010", "tlg0031.tlg012", "tlg0031.tlg014", "tlg0031.tlg015", "tlg0031.tlg016", "tlg0031.tlg017", ]
john = ["tlg0031.tlg004", "tlg0031.tlg023", "tlg0031.tlg024", "tlg0031.tlg025"]
luke = ["tlg0031.tlg003", "tlg0031.tlg005"]

for work in paul:
    AGT.loc[AGT["doc_id"]==work, "author_id"] = "tlg0031paul"
    AGT.loc[AGT["doc_id"]==work, "author"] = "Paul of Tarsus"

for work in pauline:
    AGT.loc[AGT["doc_id"]==work, "author_id"] = "tlg0031pspa"
    AGT.loc[AGT["doc_id"]==work, "author"] = "Pauline literature"
    
for work in john:
    AGT.loc[AGT["doc_id"]==work, "author_id"] = "tlg0031john"
    AGT.loc[AGT["doc_id"]==work, "author"] = "Johnannine literature"
    
for work in luke:
    AGT.loc[AGT["doc_id"]==work, "author_id"] = "tlg0031luke"
    AGT.loc[AGT["doc_id"]==work, "author"] = "Luke (the evangelist)"

In [151]:
AGT[AGT["author_id"].str.startswith("tlg0031")]

,filename,author,title,string,wordcount,author_id,doc_id,raw_date,date_avr,date_probs,date_manual,provenience
385,tlg0031.tlg001.perseus-grc2.xml,None,New Testament - Matthew,ΒΙΒΛΟΣ γενέσεως Ἰησοῦ Χριστοῦ υἱοῦ Δαυεὶδ υἱ...,18288,tlg0031,tlg0031.tlg001,A.D. 1,0.5,{0.5: 1},0.5,christian
386,tlg0031.tlg002.perseus-grc2.xml,None,New Testament - Mark,\n\n ΑΡΧΗ τοῦ εὐαγγελίου Ἰη...,11274,tlg0031,tlg0031.tlg002,A.D. 1,0.5,{0.5: 1},0.5,christian
387,tlg0031.tlg003.perseus-grc2.xml,Luke (the evangelist),New Testament - Luke,\n\n ΕΠΕΙΔΗΠΕΡ ΠΟΛΛΟΙ ἐπεχε...,19458,tlg0031luke,tlg0031.tlg003,A.D. 1,0.5,{0.5: 1},0.5,christian
388,tlg0031.tlg004.perseus-grc2.xml,Johnannine literature,New Testament - John,"\n\n ΕΝ ΑΡΧΗ ἦν ὁ λόγος, κα...",15590,tlg0031john,tlg0031.tlg004,A.D. 1,0.5,{0.5: 1},0.5,christian
389,tlg0031.tlg005.perseus-grc2.xml,Luke (the evangelist),New Testament - Acts,\n τὸν μὲν πρῶτον λόγον ἐποιησάμην περὶ πάντων...,18406,tlg0031luke,tlg0031.tlg005,A.D. 1,0.5,{0.5: 1},0.5,christian
390,tlg0031.tlg006.perseus-grc2.xml,Paul of Tarsus,New Testament - Romans,\n\n ΠΑΥΛΟΣ δοῦλος Ἰησοῦ Χρ...,7107,tlg0031paul,tlg0031.tlg006,A.D. 1,0.5,{0.5: 1},0.5,christian
391,tlg0031.tlg007.perseus-grc2.xml,Paul of Tarsus,New Testament - 1 Corinthians,\n\n ΠΑΥΛΟΣ κλητὸς ἀπόστολο...,6814,tlg0031paul,tlg0031.tlg007,A.D. 1,0.5,{0.5: 1},0.5,christian
392,tlg0031.tlg008.perseus-grc2.xml,Paul of Tarsus,New Testament - 2 Corinthians,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,4470,tlg0031paul,tlg0031.tlg008,A.D. 1,0.5,{0.5: 1},0.5,christian
393,tlg0031.tlg009.perseus-grc2.xml,Paul of Tarsus,New Testament - Galatians,"\n\n ΠΑΥΛΟΣ ἀπόστολος, οὐκ ...",2235,tlg0031paul,tlg0031.tlg009,A.D. 1,0.5,{0.5: 1},0.5,christian
394,tlg0031.tlg010.perseus-grc2.xml,Pauline literature,New Testament - Ephesians,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,2421,tlg0031pspa,tlg0031.tlg010,A.D. 1,0.5,{0.5: 1},0.5,christian
395,tlg0031.tlg011.perseus-grc2.xml,Paul of Tarsus,New Testament - Philippians,\n\n ΠΑΥΛΟΣ ΚΑΙ ΤΙΜΟΘΕΟΣ δο...,1631,tlg0031paul,tlg0031.tlg011,A.D. 1,0.5,{0.5: 1},0.5,christian
396,tlg0031.tlg012.perseus-grc2.xml,Pauline literature,New Testament - Colossians,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,1580,tlg0031pspa,tlg0031.tlg012,A.D. 1,0.5,{0.5: 1},0.5,christian
397,tlg0031.tlg013.perseus-grc2.xml,Paul of Tarsus,New Testament - 1 Thessalonians,\n\n ΠΑΥΛΟΣ ΚΑΙ ΣΙΛΟΥΑΝΟΣ Κ...,1475,tlg0031paul,tlg0031.tlg013,A.D. 1,0.5,{0.5: 1},0.5,christian
398,tlg0031.tlg014.perseus-grc2.xml,Pauline literature,New Testament - 2 Thessalonians,\n\n ΠΑΥΛΟΣ ΚΑΙ ΣΙΛΟΥΑΝΟΣ Κ...,822,tlg0031pspa,tlg0031.tlg014,A.D. 1,0.5,{0.5: 1},0.5,christian
399,tlg0031.tlg015.perseus-grc2.xml,Pauline literature,New Testament - 1 Timothy,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,1597,tlg0031pspa,tlg0031.tlg015,A.D. 1,0.5,{0.5: 1},0.5,christian
400,tlg0031.tlg016.perseus-grc2.xml,Pauline literature,New Testament - 2 Timothy,\n\n ΠΑΥΛΟΣ ἀπόστολος Χριστ...,1245,tlg0031pspa,tlg0031.tlg016,A.D. 1,0.5,{0.5: 1},0.5,christian
401,tlg0031.tlg017.perseus-grc2.xml,Pauline literature,New Testament - Titus,"\n\n ΠΑΥΛΟΣ δοῦλος θεοῦ, ἀπ...",659,tlg0031pspa,tlg0031.tlg017,A.D. 1,0.5,{0.5: 1},0.5,christian
402,tlg0031.tlg018.perseus-grc2.xml,Paul of Tarsus,New Testament - Philemon,\n\n ΠΑΥΛΟΣ δέσμιος Χριστοῦ...,334,tlg0031paul,tlg0031.tlg018,A.D. 1,0.5,{0.5: 1},0.5,christian
403,tlg0031.tlg019.perseus-grc2.xml,None,New Testament - Hebrews,\n\n ΠΟΛΥΜΕΡΩΣ ΚΑΙ ΠΟΛΥΤΡΟΠ...,4972,tlg0031,tlg0031.tlg019,A.D. 1,0.5,{0.5: 1},0.5,christian
404,tlg0031.tlg020.perseus-grc2.xml,None,New Testament - James,\n\n ΙΑΚΩΒΟΣ θεοῦ καὶ κυρίο...,1734,tlg0031,tlg0031.tlg020,A.D. 1,0.5,{0.5: 1},0.5,christian
405,tlg0031.tlg021.perseus-grc2.xml,None,New Testament - 1 Peter,\n\n ΠΕΤΡΟΣ ἀπόστολος Ἰησοῦ...,1669,tlg0031,tlg0031.tlg021,A.D. 1,0.5,{0.5: 1},0.5,christian
406,tlg0031.tlg022.perseus-grc2.xml,None,New Testament - 2 Peter,\n\n ΣΙΜΩΝ ΠΕΤΡΟΣ δοῦλος κα...,1095,tlg0031,tlg0031.tlg022,A.D. 1,0.5,{0.5: 1},0.5,christian
407,tlg0031.tlg023.perseus-grc2.xml,Johnannine literature,New Testament - 1 John,"\n\n Ο ΗΝ ΑΠʼ ΑΡΧΗΣ, ὃ ἀκηκ...",2135,tlg0031john,tlg0031.tlg023,A.D. 1,0.5,{0.5: 1},0.5,christian
408,tlg0031.tlg024.perseus-grc2.xml,Johnannine literature,New Testament - 2 John,\n\n Ο ΠΡΕΣΒΥΤΕΡΟΣ ἐκλεκτῇ ...,245,tlg0031john,tlg0031.tlg024,A.D. 1,0.5,{0.5: 1},0.5,christian
409,tlg0031.tlg025.perseus-grc2.xml,Johnannine literature,New Testament - 3 John,\n\n Ο ΠΡΕΣΒΥΤΕΡΟΣ Γαίῳ τῷ ...,219,tlg0031john,tlg0031.tlg025,A.D. 1,0.5,{0.5: 1},0.5,christian
410,tlg0031.tlg026.perseus-grc2.xml,None,New Testament - Jude,\n\n ΙΟΥΔΑΣ Ἰησοῦ Χριστοῦ δ...,456,tlg0031,tlg0031.tlg026,A.D. 1,0.5,{0.5: 1},0.5,christian
411,tlg0031.tlg027.perseus-grc2.xml,None,New Testament - Revelation,\n\n ΑΠΟΚΑΛΥΨΙΣ ΙΗΣΟΥ ΧΡΙΣΤ...,9857,tlg0031,tlg0031.tlg027,A.D. 1,0.5,{0.5: 1},0.5,christian

In [152]:
import string
for letter, index in zip(list(string.ascii_lowercase)[:14], AGT[AGT["author_id"]=="tlg0031"].index.tolist()):
    AGT.at[index, "author_id"] = "tlg0031" + letter

In [153]:
# export the data for further usage...
sddk.write_file("SDAM_data/AGT/AGT_dated_20201027.json", AGT, conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/AGT/AGT_dated_20201027.json"

# Add TLG epithets

In [4]:
AGT = sddk.read_file("SDAM_data/AGT/AGT_dated_20201027.json", "df", conf)

In [5]:
resp = requests.get("https://raw.githubusercontent.com/kylepjohnson/cltk/master/cltk/corpus/greek/tlg/author_epithet.json")
tlg_author_epithet = json.loads(resp.content)

tlg_author_epithet_reversed = {}
for key in tlg_author_epithet.keys():
    for author_id in tlg_author_epithet[key]:
        tlg_author_epithet_reversed["tlg" + author_id] = key  
        
tlg_author_epithet_reversed

def get_epithet(author_id): # we use doc_id, since author id was modified
    try:
        epithets = tlg_author_epithet_reversed[author_id[:7]]
    except:
        epithets = []
    return epithets

AGT["tlg_epithet"] = AGT["author_id"].apply(get_epithet)

In [6]:
sddk.write_file("SDAM_data/AGT/AGT_dated_20201126.json", AGT, conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/AGT/AGT_dated_20201126.json"